/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 220px;
  /* background: #323b44 none repeat scroll 0 0; */
  background: #3AB34A none repeat scroll 0 0;
  /*border-top: 1px solid #414f5a;*/
  color: #ffffff;
  padding: 50px 0;
}

.prima-header {
    background: url("../images/armadillo.png") no-repeat center center;
	height: 250px;
	background-size: contain;
    background-color: #6DB7C2;
    color: #cdbfe3;
    padding: 30px 0;
    margin-top: 120px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}

.prima-header-content {
    color: #ffffff;
    width: 500px;
    margin-left: 850px;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #6db7ca;
    font-size: 18px;
}

.cd-primary-nav {
    background: rgba(79, 17, 58, 0.9) none repeat scroll 0 0;
}

.cd-primary-nav .cd-label {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin: 2.4em 0 0.8em;
    text-transform: uppercase;
}