{% extends 'base.html.twig' %}

{% block content %}

    <div class="prima-title"><strong>Content not found</strong></div>
    <div class="container prima-content">
        <img src="img/armadillo.png" class="img-responsive center-block">
    </div>

{% endblock %}
