<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PRIMA</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template
    <link href="css/cover.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="css/ccm.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PRIMA 2017</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
<!--          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>-->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Programa</a></li>
            <li><a href="#">Registro</a></li>
            <li><a href="#">Conferencia Plenaria</a></li>
            <li><a href="#">Becas</a></li>
            <li><a href="#">Patrocinadores</a></li>
            <li><a href="#">Oaxaca</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="prima-header">
        <div class="prima-header-content">
        <h3>PRIMA 2017</h3>
        <p>The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca, Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences institutes, departments and societies from around the Pacific Rim, established in 2005 with the aim of promoting and facilitating the development of the mathematical sciences throughout the Pacific Rim region.</p>

        </div>
    </div>

<div class="container">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th class="text-center">Curso</th><th class="text-center">Tema</th><th class="text-center">Profesor</th><th class="text-center">Horas/Semana</th><th class="text-center">Créditos</th><th class="text-center">Asignatura</th><th class="text-center">Clave</th>
        </tr>
        </thead>
        <tbody>
            <tr><td>Análisis Real</td><td></td><td>Carlos Osvaldo Osuna Castro</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62540</td><td class="text-center">0</td></tr>
            <tr><td>Análisis Complejo</td><td></td><td>Robert Oeckl</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62541</td><td class="text-center">0</td></tr>
            <tr><td>Análisis Asintótico</td><td></td><td>Anatoli Merzon</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62545</td><td class="text-center">0</td></tr>
            <tr><td>Algebra Conmutativa</td><td></td><td>Mustapha Lahyane</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62538</td><td class="text-center">0</td></tr>
            <tr><td>Ecuaciones Diferenciales Parciales</td><td></td><td>Laura Rocio González Ramírez</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62547</td><td class="text-center">0</td></tr>
            <tr><td>Ecuaciones Diferenciales Ordinarias</td><td></td><td>Abdon Eddy Choque Rivero</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62546</td><td class="text-center">0</td></tr>
            <tr><td>Geometría Algebraica</td><td></td><td>Mustapha Lahyane</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62551</td><td class="text-center">0</td></tr>
            <tr><td>Probabilidad I</td><td></td><td>Elena Kaikina</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62558</td><td class="text-center">0</td></tr>
            <tr><td>Teoría de Gráficas</td><td></td><td>María Luisa Pérez Segui</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62553</td><td class="text-center">0</td></tr>
            <tr><td>Topología Diferencial</td><td></td><td>Jesús Muciño Raymundo</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62562</td><td class="text-center">0</td></tr>
            <tr><td>Topología General</td><td></td><td>Salvador García Ferreira</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62563</td><td class="text-center">0</td></tr>
            <tr><td>Inferencia Estadistica</td><td></td><td>Eugenio Balanzario Gutierrez</td><td class="text-center">3</td><td class="text-center">6</td><td class="text-center">62549</td><td class="text-center">0</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#SEM1">Seminario de Análisis</a></td><td>Análisis de Fourier en Teoría de Números</td><td>Mouvariz Garaev</td><td class="text-center">2.5</td><td class="text-center">5</td><td class="text-center">62569</td><td class="text-center">T002</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#SEM2">Seminario de Análisis</a></td><td>Noncommutative Kähler Structures and Spectral Triples</td><td>Elmar Wagner</td><td class="text-center">2.5</td><td class="text-center">5</td><td class="text-center">62569</td><td class="text-center">T003</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#SEM3">Seminario de ecuaciones diferenciales ordinarias y parciales</a></td><td>Estudio de campos neurales</td><td>Laura Rocion González Ramírez</td><td class="text-center">2.5</td><td class="text-center">5</td><td class="text-center">62575</td><td class="text-center">T001</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#SEM4">Seminario de Matemáticas Discretas</a></td><td>Gráficas aleatorias</td><td>Eugenio Balanzario Gutierrez</td><td class="text-center">2.5</td><td class="text-center">5</td><td class="text-center">62584</td><td class="text-center">T002</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#SEM5">Seminario de probabilidad</a></td><td>Teorema del limite central</td><td>Pavel Naumkin</td><td class="text-center">2.5</td><td class="text-center">5</td><td class="text-center">62587</td><td class="text-center">T002</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#SEM6">Seminario de probabilidad</a></td><td>Teorema de continuidad de Levy y leyes estables e infinitamente divisibles</td><td>Pavel Naumkin</td><td class="text-center">2.5</td><td class="text-center">5</td><td class="text-center">62587</td><td class="text-center">T003</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#SEM7">Seminario de topología</a></td><td>Forcing iterado</td><td>Michael Hrusak</td><td class="text-center">2.5</td><td class="text-center">5</td><td class="text-center">62593</td><td class="text-center">T004</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#SEM8">Seminario de topología</a></td><td>Amenabilidad y teoría de Ramsey</td><td>Ulises Ariet Ramos García</td><td class="text-center">2.5</td><td class="text-center">5</td><td class="text-center">62593</td><td class="text-center">T004</td></tr>

            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO1">Curso Avanzado de Algebra</a></td><td>Funtores de Green de biconjuntos y las construcciones "mas"</td><td>Alberto Gerardo Raggi Cárdenas</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62564</td><td class="text-center">T002</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO2">Curso Avanzado de Algebra</a></td><td>Combinatoria Algebraica</td><td>Ernesto Vallejo Ruíz</td><td class="text-center">3</td><td class="text-center">6</td><td class="text-center">62565</td><td class="text-center">T001</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO3">Curso Avanzado de Algebra</a></td><td>Teoría de Representaciones de Algebras</td><td>Leonardo Salmeron Castro</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62564</td><td class="text-center">T003</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO4">Curso avanzado de topología</a></td><td>Cohomología, Clases Características y Variedades</td><td>Noe Barcenas Torres</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62591</td><td class="text-center">T027</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO5">Curso avanzado de topología</a></td><td>Introducción a la Teoría de Nudos</td><td>Juan Athziri González Lémus</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62591</td><td class="text-center">T001</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO6">Curso avanzado de topología</a></td><td>Haces Fibrados</td><td>Daniel Juan Pineda</td><td class="text-center">3</td><td class="text-center">6</td><td class="text-center">62592</td><td class="text-center">T003</td></tr>

            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO7">Curso avanzado de geometría</a></td><td>Curso de Geometría algebraica y diferencial compleja</td><td>Luis Abel Castorena Martínez</td><td class="text-center">3</td><td class="text-center">6</td><td class="text-center">62580</td><td class="text-center">T003</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO8">Curso avanzado de geometría</a></td><td>Geometría Algebraica Moderna</td><td>Mustapha Lahyane</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62579</td><td class="text-center">T012</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO9">Curso avanzado de geometría</a></td><td>Grupo modular de Teichmüller y el espacio de Teichmüller</td><td>Jesús Hernández Hernández</td><td class="text-center">3</td><td class="text-center">6</td><td class="text-center">62580</td><td class="text-center">T013</td></tr>

            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO10">Curso avanzado de análisis</a></td><td>La función zeta de Riemann</td><td>Moubariz Garaev</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62567</td><td class="text-center">T006</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO11">Curso avanzado de análisis</a></td><td>Teoría de distribuciones</td><td>Anatoli Merzon</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62567</td><td class="text-center">T007</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO12">Curso avanzado de análisis</a></td><td>Marcos continuas en espacios de Krein</td><td>Elmar Wagner</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62567</td><td class="text-center">T008</td></tr>

            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO13">Curso avanzado de matemáticas discretas</a></td><td>Geometría Computacional</td><td>Miguel Raggi y Edgardo Roldan</td><td class="text-center">3</td><td class="text-center">6</td><td class="text-center">63583</td><td class="text-center">T001</td></tr>
            <tr><td><a href="#" data-toggle="modal" data-target="#CURSO14">Curso avanzado de ecuaciones diferenciales ordinarias y parciales </a></td><td>Transformada de Fourier</td><td>Anatoli Merzon</td><td class="text-center">4.5</td><td class="text-center">9</td><td class="text-center">62573</td><td class="text-center">T004</td></tr>
        </tbody>
    </table>
</div>

<!-- Modal SEM1-->
<div class="modal fade" id="SEM1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Seminario de Análisis<br>
                  <span class="text-muted">Análisis de Fourier en Teoría de Números</span>
              </h4>
          </div>
          <div class="modal-body">
              <h3>Mouvariz Garaev</h3>
              <br><br>
              <table class="table table-striped">
                  <tbody>
                  <tr>
                      <th><i class="icon-file"></i> Objetivo</th>
                      <td></td>
                  </tr>
                  <tr>
                      <th><i class="icon-file"></i> Temario</th>
                      <td>1. Distribución uniforme de sucesiones.<br>
                          2. Criterio de Weyl.<br>
                          3. Método de Van der Corput.<br>
                          4. Teorema del valor medio de Vinogradov.<br>
                      </td>
                  </tr>
                  <tr>
                      <th><i class="icon-file"></i> Bibliografía</th>
                      <td>
                          Hugh L. Montgomery, Ten Lectures on the Interface Between Analytic Number Theory and Harmonic Analysis.</td>
                      </td>
                  </tr>
                  <tr>
                      <th><i class="icon-file"></i> Requisitos</th>
                      <td></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<!-- Modal SEM2-->
<div class="modal fade" id="SEM2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Seminario de Análisis<br>
                    <span class="text-muted">Noncommutative Kähler Structures and Spectral Triples</span>
                </h4>
            </div>
            <div class="modal-body">
                <h3>Wagner Elmar</h3>
                <br><br>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th><i class="icon-file"></i> Objetivo</th>
                        <td>Preparación para la investigación en geometría no-conmutativa</td>
                    </tr>
                    <tr>
                        <th><i class="icon-file"></i> Temario</th>
                        <td>
                            1) Covariant Differential Calculi on Quantum Homogeneous Spaces<br />
                            * quantum homogeneous spaces, faithful flatness, Takeuchi’s equivalence of categories, Hopf-Galois extensions<br />
                            * The maximal prolongation of a first order calculus to a total calculus, covariant calculi on a quantum homogeneous space, Hermisson’s classification, the maximal prolongation of a covariant calculus in terms of its classifying ideal, classification of bicovariant calculi on a Hopf algebra, quantum principal bundles<br />
                            * coquasitriangular Hopf algebras, the quantum Killing form Q, the bicovariant calculus corresponding to the Q<br />
                            * the Hopf algebras Oq(SUn) and Oq(Un), quantum projective space Oq(CPn) as a homogeneous Hopf-Galois extension, the coquasitriangular structure of Oq(SUn) and the associated bicovariant calculus, the Heckenberger-Kolb classification for Oq(CPn), the Q-presentation of the Heckenberger-Kolb calculus of CPn<br />
                            <br />
                            2) Noncommutative Complex and Kähler Structures<br />
                            * almost complex structures, integrability and complex structures, covariant complex structures and their classification via Takeuchi’s correspondence<br />
                            * noncommutative symplectic structures, Lefschetz decomposition, noncommutative Hermitian and Kähler structures<br />
                            * existence and uniqueness of the covariant complex and Ka ̈hler structure of Oq(CPn)<br />
                            * Hodge maps, Lefschetz identities, Kälher identities, Hodge decomposition, compact quantum group algebras, refinement of de Rham cohomology by Dolbeault cohomology, the hard Lefschetz theorem<br />
                            * the cohomology of the calculus <br />
                            <br />
                            3) Kähler-Dirac Specral Triples<br />
                            * discussion of the definition of a spectral triple along with some basic K-theory and K-homology<br />
                            * Kähler-Dirac operators D, the associated Hilbert space, boundedness of commutators, boundedness of the Lefschetz and Hodge operators, closure and self-adjointness of D, the index of D and holomorphic Euler characteristics<br />
                            * the index and spectrum of the Kähler-Dirac operator of Oq(CPn) and a proof that it gives a spectral triple
                        </td>
                    </tr>
                    <tr>
                        <th><i class="icon-file"></i> Bibliografía</th>
                        <td>
                            [1] T. Brzezinski, Galois Structures, https://www.impan.pl/swiat-matematyki/ notatki-z-wyklado~/brzezinski_gs.pdf, (2008).<br />
                            [2] D. Huybrechts, Complex geometry, An Introduction, Springer, Universitext, 2004.<br />
                            [3] A. Klimyk, K. Schmüdgen, Quantum Groups and their Representations, Springer-Verlag 1997.<br />
                            [4] S. Majid, A Quantum Groups Primer, London Mathematical Society Lecture Note Series, Cambridge University Press, 2002
                        </td>
                    </tr>
                    <tr>
                        <th><i class="icon-file"></i> Requisitos</th>
                        <td>Conocimiento básico en geometría diferencial, grupos de Lie y grupos cuánticos</td>
                    </tr>
                    <tr>
                        <th><i class="icon-file"></i> Comentarios</th>
                        <td>Seminario conjunto con el investigador postdoctoral Réamonn Ó Buachalla del programa Horizon 2020. El seminario se impartará en inglés.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <!-- Modal SEM3-->
    <div class="modal fade" id="SEM3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Seminario de ecuaciones diferenciales ordinarias y parciales<br>
                        <span class="text-muted">Estudio de campos neurales.</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>González Ramírez Laura Rocío</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>
                                Introducir al alumno a la formalidad de campos neurales. Estudio de enfermedades y fenómenos dinámicos, a través de campos neurales. Determinación de existencia y estabilidad de patrones espacio-temporales en campos neurales.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Epilepsia como un sistema dinámico.<br />
                                * Básicos en Modelos de Redes Neuronales.<br />
                                * Modelos de campo medio basados en actividad y voltaje.<br />
                                * Epilepsia y estructura de redes.<br />
                                <br />
                                2. Existencia de ondas viajeras en campos neurales.<br />
                                * Existencia de ondas medios excitables.<br />
                                * Soluciones exactas y soluciones perturbadas singularmente.<br />
                                * Propagación de Ondas en medios heterogéneos de campo neurales.<br />
                                *  Disrupción de propagación de actividad.<br />
                                <br />
                                3. Estabilidad lineal de ondas viajeras en campos neurales.<br />
                                * Repaso de operadores diferenciales lineales, espacios de funciones, Teorema de Alternativa de Fredholm y Espectro de operador diferencial lineal.<br />
                                * Determinación del espectro continuo.<br />
                                * Determinación del espectro puntual.<br />
                                * Ejemplos<br />
                                <br />
                                4. Simulación numérica de modelos de campo neurales<br />
                                * Uso de software, como lo es XPP, para simulación numérica de modelos de EDO y EDP.<br />
                                * Exploración numérica de existencia de pulsos estacionarios y pulsos viajeros en campos neurales.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                Epilepsy as a Dynamic Disease<br />
                                John Milton<br />
                                Springer<br />
                                <br />
                                Mathematical Foundations on Neuroscience (Capitulo 6)<br />
                                G.B.Ermentrout<br />
                                Springer<br />
                                <br />
                                Waves in Neural Media  (Capitulo 2,  6, 7 y 9)<br />
                                P.C. Bressloff<br />
                                Springer<br />
                                <br />
                                Spectral and Dynamical Stability of Nonlinear Waves<br />
                                T. Kapitula, K. Promislow <br />
                                <br />
                                Manual de XPP-XPPAut<br />
                                Bard Ermentrout
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Ecuaciones Diferenciales Ordinarias</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal SEM4-->
    <div class="modal fade" id="SEM4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Seminario de matemáticas discretas<br>
                        <span class="text-muted">Gráficas aleatorias</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Balanzario Eugenio</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Estadísticos de una gráfica aleatoria: medidas de centralidad, diámetro, distribución de grados, etcétera.<br />
                                <br />
                                2. Algoritmos para el cálculo de los estadísticos.<br />
                                <br />
                                3. Gráficas aleatorias con una distribución de grados predeterminada.<br />
                                <br />
                                4. Valores propios de la matriz de adyacencia.<br />
                                <br />
                                5. Ley semicircular de Wigner.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                Chung, F.; Lu, L. Complex graphs and Networks, American Mathematical Society, 2006.<br />
                                <br />
                                Newman, M. Networks: an introduction, Oxford University Press, 2010.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal SEM5-->
    <div class="modal fade" id="SEM5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Seminario de probabilidad<br>
                        <span class="text-muted">Teorema del limite central</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Naumkin Pavel</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Espacios de Probabilidad, variables aleatorias y distribuciones<br />
                                1.1 Espacios y funciones medibles<br />
                                1.1.1 Definiciones básicas y ejemplos<br />
                                1.1.2 Lemas de clases monótonas<br />
                                1.2 Espacios de medida y de probabilidad<br />
                                1.2.1 Definiciones básicas y ejemplos<br />
                                1.2.2 Distribuciones o leyes de probabilidad<br />
                                1.2.3 Fui de distribución<br />
                                1.2.4 Construcción del espacio de probabilidad asociado a una función de distribución. (Opcional). 1.3 Espacios y medidas producto, e independencia.<br />
                                <br />
                                2. Esperanza y momentos de variables aleatorias, probabilidad y esperanza condicional<br />
                                2.1 Integral de Lebesgue, esperanzas de funciones de variables aleatorias, momentos y Teorema de cambio de variable.<br />
                                2.2 Probabilidad y Esperanza Condicional<br />
                                2.2.1 Esperanza Condicional y sus propiedades elementales<br />
                                2.2.2 Probabilidad Condicional<br />
                                2.2.3 Distribuciones Condicionales<br />
                                <br />
                                3. Leyes de los grandes números y el Teorema del limite central<br />
                                3.1 Tipos de convergencia<br />
                                3.1.1 Casi segura, en probabilidad, en Lp<br />
                                3.1.2 Débil, o en distribución<br />
                                3.2 Lema de Borel-Cantelli<br />
                                3.3 Leyes de los grandes números<br />
                                3.3.1 Ley débil de los grandes números<br />
                                3.3.2 Ley fuerte de los grandes números, con cuarto momento finito<br />
                                3.4 El Teorema del límite central<br />
                                3.4.1 Función Característica y Teorema de Continuidad de Lévy (sin demostración)<br />
                                3.4.2 Teorema del límite central para variables aleatorias independientes idénticamente distribuidas en L2<br />
                                3.5 Ley del logaritmo iterado, sin demostración
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                John B. Walsh <br />
                                Knowing the Odds: An Introduction to Probability <br />
                                American Mathematical Society <br />
                                <br />
                                Samuel Karlin <br />
                                A First Course in Stochastic Processes <br />
                                Academic Press <br />
                                <br />
                                V. Petrov y E. Mordecki <br />
                                Teoria de las probabilidades <br />
                                Editoria URSS
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal SEM6-->
    <div class="modal fade" id="SEM6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Seminario de probabilidad<br>
                        <span class="text-muted">Teorema de continuidad de Levy y leyes estables e infinitamente divisibles</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Naumkin Pavel</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Funciones características<br />
                                1.1 Definiciones y ejemplos<br />
                                1.2 Unicidad de la función característica<br />
                                1.3 Teorema de inversión de Fourier<br />
                                1.4 Teorema Central de Límite Multivariado<br />
                                1.5 Arreglos triangulares y teorema de Lindeberg<br />
                                <br />
                                2. Suma de variables aleatorias independientes<br />
                                2.1 Teorema de equivalencia de Levy<br />
                                2.2 Teorema de las tres series<br />
                                <br />
                                3. Teorema de continuidad de Levy y leyes estables e infinitamente divisibles<br />
                                3.1 Teorema de continuidad de Levy<br />
                                3.2 Leyes infinitamente divisibles<br />
                                3.3 Fórmulas de Levy-Khinchin<br />
                                3.4 Leyes estables<br />
                                <br />
                                4. El espacio C<br />
                                4.1 Caracterizaciones de convergencia débil<br />
                                4.2 Convergencia débil y tensión de medidas en el espacio C<br />
                                4.3 Teorema de Donsker<br />
                                <br />
                                5. El espacio D<br />
                                5.1 Topología de Skorohod<br />
                                5.2 Completez del espacio D<br />
                                5.3 Convergencia débil y tensión en el espacio D<br />
                                5.4 Funciones de distribución empíricas<br />
                                5.5 Extensiones del teorema de Donsker
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                John B. Walsh <br />
                                Knowing the Odds: An Introduction to Probability <br />
                                American Mathematical Society <br />
                                <br />
                                Samuel Karlin <br />
                                A First Course in Stochastic Processes <br />
                                Academic Press <br />
                                <br />
                                V. Petrov y E. Mordecki <br />
                                Teoria de las probabilidades <br />
                                Editoria URSS
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal SEM7-->
    <div class="modal fade" id="SEM7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Seminario de topología<br>
                        <span class="text-muted">Forcing iterado</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Hrusak Michael</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Enseñar técnicas avanzadas del método de forcing.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                Proper forcing<br>
                                Teoremas de preservación bajo de iteraciones con soporte numerable<br>
                                Consistencia de la Conjetura de Borel<br>
                                Modelo de Sacks y el teorema de Miller<br>
                                Modelo de Miller y la consistencia de NCF<br>
                                EL diamante de Laver y Axioma de Forcing Propio<br>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                Bartoszynski Judah: Set-theory:On the structure of the real line<br>
                                Shelah: Proper and Improper forcing
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Curso de forcing</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal SEM8-->
    <div class="modal fade" id="SEM8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Seminario de topología<br>
                        <span class="text-muted">Amenabilidad y teoría de Ramsey</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Ramos García Ulises Ariet</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Una pregunta relevante en la teoría geométrica de grupos es la siguiente: ¿es el grupo de Thompson F amenable? Dicha pregunta ha sido de interés desde su formulación a principios de los años 70’s y ha motivado diversas técnicas para poder obtener una respuesta a ella. El objetivo del seminario es revisar a detalle el enfoque de J. Moore para atacar la amenabilidad del grupo de Thompson desde la perspectiva de la teoría de Ramsey no asociativa.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Productos de medidas de probabilidad finito aditivas<br />
                                2. Medidas idempotentes<br />
                                3. Un criterio tipo Ramsey para amenabilidad<br />
                                4. El problema de amenabilidad para el grupo de Thompson F<br />
                                5. Funciones Ramsey vs  funciones Følner<br />
                                6. Un criterio para no amenabilidad<br />
                                7. Teoría estructural de Ramsey y teoría KPT<br />
                                7. Teoría de Ramsey no asociativa</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>Moore, Justin Tatch A brief introduction to amenable equivalence relations. Preprint.<br />
                                Lodha, Yash; Moore, Justin Tatch A nonamenable finitely presented group of piecewise projective homeomorphisms. Groups Geom. Dyn. 10 (2016), no. 1, 177–200.<br />
                                Tatch Moore, Justin Hindman&#039;s theorem, Ellis&#039;s lemma, and Thompson&#039;s group F. Zb. Rad. (Beogr.) 17(25) (2015), Selected topics in combinatorial analysis, 171–187.<br />
                                Moore, Justin Tatch Fast growth in the Følner function for Thompson&#039;s group F. Groups Geom. Dyn. 7 (2013), no. 3, 633–651.<br />
                                Moore, Justin Tatch Amenability and Ramsey theory. Fund. Math. 220 (2013), no. 3, 263–280. <br />
                                Kechris, A. S.; Pestov, V. G.; Todorcevic, S. Fraïssé limits, Ramsey theory, and topological dynamics of automorphism groups. Geom. Funct. Anal. 15 (2005), no. 1, 106–189.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Familiaridad con el semigrupo formado por los ultrafiltros sobre los números naturales así como con resultados tipo Ramsey sería deseable.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO1 -->
    <div class="modal fade" id="CURSO1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de álgebra<br>
                        <span class="text-muted">Funtores de Green de biconjuntos y las construcciones "mas"</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Raggi Gerardo</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Estudio de los Funtores de Green de Biconjuntos, en particular el estudio de los desplazados de los anillos de caracteres y de las construcciones mas pero en la categoría de Funtores de Green.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Repaso de las propiedades básicas los Funtores de biconjuntos y de Green de biconjuntos.<br />
                                2. Estudio de los desplazados de  los anillos de caracteres.<br />
                                3. El álgebra esencial sobre estos funtores.<br />
                                4. Estudio de los módulos simples sobre estos funtores <br />
                                5. Las construcciones &quot;mas&quot; en la categoría de Funtores de Biconjuntos<br />
                                6. Estructura multiplicativa en las construcciones &quot;mas&quot;
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                [1] Laurence Barker. Rhetorical biset functors, rational p-biset functors and their semisimplicity in characteristic zero. Journal of Algebra, 319:3810{3853, 2008.<br />
                                <br />
                                [2] Serge Bouc. Biset functors for nite groups. Springer, Berlin, 2010.<br />
                                <br />
                                [3] Maxime Ducellier. Foncteurs de p-permutation. Tesis de doctorado, Universite de Picardie, Francia, 2015.<br />
                                <br />
                                [4] Markus Linckelmann and Michal Stolorz. On simple modules over twisted finite category algebras. Proceedings of the Amer. Math. Soc., 140:3725{3737, 2012.<br />
                                <br />
                                [5] N. Romero. Simple modules over Green biset functors. Journal of Algebra, 367:203{221, 2012.<br />
                                <br />
                                [6]  Boltje, Robert.  A general theory of canonical induction formulae. J. Algebra 206 (1998), no. 1, 293–343. <br />
                                <br />
                                [6] N. Romero. On fibred biset functors with fibres of order prime and four. Journal of Algebra, 387:185{194, 2013.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Curso de Funtores de Biconjuntos.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO2-->
    <div class="modal fade" id="CURSO2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de álgebra<br>
                        <span class="text-muted">Combinatoria Algebraica</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Vallejo Ruiz Ernesto</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Combinatoria de tablas de Young.<br />
                                <br />
                                2. Representaciones del grupo simétrico.<br />
                                <br />
                                3. Funciones simétricas.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                [1] W. Fulton, Young Tableaux, London Mathematical Society. Student texts 135. Cambridge Univ. Press, Cambridge, 1997.<br />
                                <br />
                                [2] I.~G. Macdonald, Symmetric Functions and Hall Polynomials, Oxford University Press, Oxford, 1995.<br />
                                <br />
                                [3] B. Sagan, The Symmetric Group. Representations, Combinatorial Algorithms, and Symmetric Functions, Springer Verlag, 2001
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Un curso introductorio de Representaciones de Grupos.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO3 -->
    <div class="modal fade" id="CURSO3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de álgebra<br>
                        <span class="text-muted">Teoría de Representaciones de Algebras</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Salmerón Leonardo</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Curso introductorio</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Nociones de Teoría de Categorías<br />
                                2. Teoremas de Morita<br />
                                3. Anillos de Artin<br />
                                4. Algebras de Artin<br />
                                5. El dual y el transpuesto<br />
                                6. Sucesiones de Auslander- Reiten<br />
                                7. Tipo finito
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                [1] Jacobson, N. Basic Algebra II, W. H- Freeman &amp; Co. 1989.<br />
                                [2] Auslander M, Reiten I, Smalo, S. Representation Theory of Artin Algebras, Cambridge Studies in Advanced Mathematics 36, Cambridge Univ. Press, 1995.<br />
                                [3] Assem, I, Simson, D, Skowronski A. Elements of the Representation Theory of Associative Algebras, London Math. Soc Student Texts 65, Cambridge Univ. Press, 2006.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Algebra Moderna y Algebra Homológica.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO4 -->
    <div class="modal fade" id="CURSO4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de topología<br>
                        <span class="text-muted">Cohomología, Clases Características y Variedades</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Barcenas Torres Noé</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>El objetivo del curso es profundizar en temas clásicos de topología algebraica: Cohomología, dualidad de poincaré, Clases características, Teoría K topológica y cálculos con sucesiones espectrales. De acuerdo a la audiencia, se pueden cubrir temas relacionados con análisis global y geometría spin o geometría algebraica.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                Cohomología, <br />
                                Dualidad  de  poincaré<br />
                                Operaciones  en cohomología  <br />
                                clases  características.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                Hatcher, Algebraic  topology. <br />
                                Milnor  y Stasheff, Characteristic  Classes. <br />
                                Mosher y  Tangora. Operations  in cohomology and  applications  in homotopy theory.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Dominio  del  curso  básico de  topología  algebraica.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO5 -->
    <div class="modal fade" id="CURSO5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de topología<br>
                        <span class="text-muted">Introducción a la Teoría de Nudos</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>González Lemus Juan Ahtziri</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>
                                Aprender los invariantes clásicos para clasificar nudos (número de cruces, número de desanudamiento, grupo fundamental...) para que así los alumnos tengan un panorama del tipo de problemas que aparecen en el estudio de los nudos.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1 - Definiciones<br />
                                1.1 Definiciones de nudos y enlaces.<br />
                                1.2 Ejemplos de nudos y enlaces<br />
                                1.3 Diagramas de un nudo y movimientos de Reidemeister<br />
                                1.4 Ejemplos de nudos salvajes<br />
                                1.5 Coloración y número de cruces<br />
                                <br />
                                2 - Grupo fundamental de un nudo<br />
                                2.1 Definición del grupo de un nudo y ejemplos<br />
                                2.2 Presentación de Wirtinger<br />
                                2.3 Nudos Toroidales<br />
                                <br />
                                3 - Superficies de Seifert<br />
                                3.1 Definición y ejemplos de superficies de Seirfert de un nudo<br />
                                3.2 Algoritmo de Seifert<br />
                                3.3 Superficies de Seifert incompresibles<br />
                                <br />
                                4 - Cirugía en en enlaces y 3-variedades<br />
                                4.1 Espacios Lente<br />
                                4.2 Diagramas de Hegard<br />
                                4.3 Cirugía en 3-variedades<br />
                                4.4 Teorema de Lickorish
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                1 - Knots and Links - Dale Rolfsen<br />
                                2 - Introduction to Knot Theory - Richard Crowell &amp; Ralph Fox<br />
                                3 - An Introduction to Knot theory - Raymond Lickorish
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>
                                1 - Topologia Algebraica (grupo fundamental, cubrientes y un poco de homología)<br />
                                2 - Teoría de grupos
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Comentarios</th>
                            <td>Los temas del curso se adaptaran al perfil de los alumnos que decidan tomar el curso.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO6 -->
    <div class="modal fade" id="CURSO6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de topología<br>
                        <span class="text-muted">Haces Fibrados</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Juan Pineda Daniel</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Estudiar teoria de fibraciones, deferentes contextos donde aparecen, diferentes métodos de construcción y su clasificacion.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Espacios fibrados<br />
                                2. Teoria de homotopia asociada a espacios fibrados<br />
                                3. Cohomología singular<br />
                                3. Clasificación de fibrados.<br />
                                4. Temas selectos.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                1. N. Steenrod, Topologia de haces fibrados, Princeton University press.<br />
                                2. Hatcher, vector bundles and characteristic classes.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>
                                1. Curso básico de topologia algebraica.<br />
                                2. Curso básico de álgebra
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Comentarios</th>
                            <td>Las clases serán lunes-martes y miércoles en la mañana.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO7 -->
    <div class="modal fade" id="CURSO7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de geometría<br>
                        <span class="text-muted">Curso de Geometría algebraica y diferencial compleja</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Castorena abel</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Introducir al alumno a temas de geometría algebraica por medio de variedades complejas</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Resultados Básicos en Varias Variables Complejas. <br />
                                2. Variedades Complejas y Variedades Analíticas.<br />
                                3. Gavillas y Cohomología: Cohomología de De Rham, Dolbeault y Cech<br />
                                4. Haces Vectoriales Holomorfos.<br />
                                5.  Divisores, Haces Lineales y Clases de Chern.<br />
                                6. Introducción a la Teoría de Hodge( algunos resultados no se demostrarán)<br />
                                7. Variedades Proyectivas Complejas y el Teorema del Encaje de Kodaira. (Si el tiempo lo permite)
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                1. Principles of Algebraic Geometry. Phillip Griffitsh, Joe Harris. Editorial John Wiley &amp; Sons 1994. <br />
                                2. Complex Geometry. An Introduction. Daniel Huybrechts. Universitext, Springer-Verlag 2005.<br />
                                3. Complex Algebraic Geometry. Kichoon Yang. <br />
                                Marcel Dekker 1991. <br />
                                4. Algebraic Geometry over the complex numbers. Donu Arapura. Universitext, Springer-Verlag 2012.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Curso solido de Variable Compleja y de Calculo en R^n: T. de la funci\&#039;on implicita e inversa. Nociones elementales de Geometría Diferencial, Producto tensorial y un poco de álgebra multilineal.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO8 -->
    <div class="modal fade" id="CURSO8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de geometría<br>
                        <span class="text-muted">Geometría Algebraica Moderna</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Lahyane Mustapha</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Permitir al alumno de conocer y usar los conceptos y herramientas de la Geometría Algebraica Moderna.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                i- Recordatorio: Geometría Algebraica Clásica. <br />
                                ii- Esquemas (Esquemas afines, Esquemas, Beneficios de trabajar con esquemas)<br />
                                iii-  Variedades y Gavillas<br />
                                iv- Cohomología de Gavillas<br />
                                v- Blowing-up global
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                Título: Algebraic Geometry.<br />
                                Autor: Robin Harshorne.<br />
                                Springer-Verlag 1977
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Geometría Algebraica Clásica</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO9 -->
    <div class="modal fade" id="CURSO9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de geometría<br>
                        <span class="text-muted">Grupo modular de Teichmüller y el espacio de Teichmüller</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Hernández Hernández Jesús</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>
                                El objetivo del curso es dar una visión panorámica del grupo modular de Teichmüller, y su relación con los distintos complejos de curvas y el espacio de Teichmüller; todo esto haciendo énfasis en los métodos geométricos y combinatorios utilizados en las demostraciones.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Definición y ejemplos del grupo modular.<br />
                                2. Definición y propiedades de giros de Dehn.<br />
                                3. Aplicaciones de los giros de Dehn.<br />
                                4. Complejos de curvas.<br />
                                5. Generadores del grupo modular.<br />
                                6. Presentación del grupo modular.<br />
                                7. Homomorfismos del grupo modular.<br />
                                8. Definiciones del espacio de Teichmüller.<br />
                                9. Propiedades básicas del espacio de Teichmüller.<br />
                                10. Acción del grupo modular.<br />
                                11. Isometrías del espacio de Teichmüller.<br />
                                12. Geometría (a gran escala) del grupo modular y del espacio de Teichmüller
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                B. Farb, D. Margalit - A primer on mapping class groups.<br />
                                A. Hatcher, W. Thurston - A presentation for the mapping class group of a closed orientable surface.<br />
                                N.V. Ivanov - Automorphisms of Complexes of Curves and of Teichmüller Spaces<br />
                                J. Hubbard - Teichmüller theory and its applications to geometry, topology and dynamics.<br />
                                Y. Imayoshi, M. Taniguchi - An introduction to Teichmüller spaces.<br />
                                H. Masur, Y. Minsky - Geometry of the complex of curves I
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>
                                Conocimientos básicos de topología algebraica (homotopías y espacios cubrientes).<br />
                                Conocimientos básicos de geometría diferencial (variedades hiperbólicas, diferenciales)
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO10 -->
    <div class="modal fade" id="CURSO10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de análisis<br>
                        <span class="text-muted">La función zeta de Riemann</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Garaev Moubariz</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1). La función zeta de Riemann. Definición y propiedades básicas.<br />
                                <br />
                                2). Continuación analítica. La ecuación funcional.<br />
                                <br />
                                3). Teorema de Riemann-Mangoldt.<br />
                                <br />
                                4). Fórmula de sumación de Perron.<br />
                                <br />
                                5). La región libre de ceros.<br />
                                <br />
                                6). Teorema de los números primos.<br />
                                <br />
                                7). Ceros en la línea crítica.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                1). A. A. Karatsuba, Fundamentos de la Teoría analítica de los<br />
                                números, Editorial Mir, 1979.<br />
                                <br />
                                2). E. C. Titchmarsh, Riemann zeta-function, Second edition revised by D. R. Heath-Brown, 1986, Clarendon Press, Oxford.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO11-->
    <div class="modal fade" id="CURSO11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de análisis<br>
                        <span class="text-muted">Teoría de distribuciones</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Merzon Anatoli</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Conocer a estudiantes de maestría y doctorado con la teoría de distribuciones y aplicaciones y prepararlos para impartir este curso en maestria.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Varios métodos para determinar una función. Distribuciones.<br />
                                <br />
                                3. Operaciones con distribuciones.<br />
                                <br />
                                4. Convergencia de distribuciones.<br />
                                <br />
                                5. Diferenciación de distribuciones. Diferenciación de funciones suaves por trozos. Diferenciación del producto.<br />
                                <br />
                                6.  Soluciones fundamentales de ecuaciones diferenciales ordinarias.<br />
                                <br />
                                7. La función de Green para problemas de frontera sobre un intervalo.<br />
                                <br />
                                8. El método de construcción de la función de Green para problemas de frontera sobre el intervalo.<br />
                                <br />
                                9. Las soluciones fundamentales del operador de Laplace.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                               A.I.Komech, Book of practical PDE&#039;s. http://www.mat.univie.ac.at/~komech/articles/posobie.pdf
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Analisi II, Algebra lineal I</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Comentarios</th>
                            <td>Si no tendré solicitudes antes de 15.12.2016, el curso no se abrirá. Mi email: anatolimx@gmail.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO12-->
    <div class="modal fade" id="CURSO12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de análisis<br>
                        <span class="text-muted">Marcos continuas en espacios de Krein</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Wagner Elmar</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Curso introductorio para una tesis de maestría</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Marcos discretos en espacios de Hilbert<br />
                                * Definición de Marcos<br />
                                * El operador pre-marco, el operador de sintesis y el operador de marco <br />
                                * Marcos y operadores<br />
                                * Propiedades de marcos el marco dual <br />
                                <br />
                                2. Marcos continuos en espacios de Hilbert<br />
                                * Definición de Marcos continuos <br />
                                * El operador pre-marco, el operador de sintesis y el operador de marco para Marcos continuos <br />
                                * Marcos continuos  y operadores<br />
                                * Propiedades de marcos el marco dual <br />
                                * estados coherentes<br />
                                <br />
                                3.  Espacios de Krein<br />
                                * Espacios con producto interior indefinido<br />
                                * Vectores ortogonales, vectores isotópicos<br />
                                * Subespacios maximales no-degenerados y neutrales<br />
                                * Proyecciones<br />
                                * Descomposición fundamental<br />
                                * Definicion de espacios de Krein <br />
                                * Operadores en espacios de Krein<br />
                                * espacios de Krein con W-métrica<br />
                                <br />
                                4. Marcos continuos en espacios de Krein <br />
                                * Definición de Marcos continuos en espacios de Krein <br />
                                * El operador pre-marco, el operador de sintesis y el operador de marco para Marcos continuos en espacios de Krein <br />
                                * Marcos continuos en espacios de Krein y operadores asociados <br />
                                * Propiedades de marcoscontinuos en espacios de Krein<br />
                                * Marco dual <br />
                                * Relación con estados coherentes<br />
                                * Ejemplos
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                1. O. Christensen: Frames and bases. An introductory course.  Birkhäuser, Boston,  2008.<br />
                                <br />
                                2. D. Han, K. Kornelson, D. Larson, E. Weber: Frames for undergraduates. Student Mathematical Library, 40. American Mathematical Society, Providence, RI, 2007.<br />
                                <br />
                                3. J. Bognár: Indefinite inner product spaces. Ergebnisse der Mathematik und ihrer Grenzgebiete, Springer-Verlag, New York-Heidelberg, 1974.<br />
                                <br />
                                4. S.T. Ali, J.P. Antoine, J.P. Gazeau: Continuous Frames in Hilbert Space, Annals of Physics 222 (1993), 1-37.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Análisis Funcional I</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO13 -->
    <div class="modal fade" id="CURSO13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de matemáticas discretas<br>
                        <span class="text-muted">Geometría Computacional</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Miguel Raggi y Edgardo Roldan</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Comprender varios algoritmos en el ámbito de la geometría computacional.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                -Modelos del espacio Euclideano en la computadora <br>
                                1.    Representación de números reales<br>
                                2.    Representación de puntos en Rd<br>
                                3.    Operaciones<br><br>
                                Intersección de líneas, segmentos, rayos.<br>
                                1.    Algoritmos<br><br>
                                Triangulación de polígonos<br>
                                1.    Polígonos convexos<br>
                                2.    Polígonos cualesquiera<br>
                                3.    Triangulación en superficies<br><br>
                                Estructuras de datos geométricas<br>
                                1.    Grafos de proximidad<br>
                                2.    Árboles Kd<br>
                                3.    Árboles de Intervalos<br>
                                4.    Árboles de búsqueda de prioridad<br><br>
                                Diagramas de Voronoi y Delaunay<br>
                                1.    Definición<br>
                                2.    Dualidad<br>
                                3.    Algoritmos e Implementación.<br><br>
                                Envolventes Convexas<br>
                                1.    En 2d<br>
                                2.    En 3d<br><br>
                                Quadtrees<br>
                                1.    Mallas<br>
                                2.    Algoritmos<br><br>
                                Grafos de visibilidad<br>
                                1.    Iluminación<br>
                                2.    Caminos más cortos<br><br>
                                Helly, Caratheodory y Radón<br>
                                1.    Teoremas<br>
                                2.    Equivalencias<br>
                                3.    Versiones coloreadas<br>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>
                                Mark de Berg, Otfried Cheong, Marc van Kreveld, Mark Overmars.<br>
                                Computational Geometry: Algorithms and Applications, Third Edition (2008). Springer.<br>
                                Jiří Matoušek. Lectures on Discrete Geometry. Springer-Verlag,<br>
                                Graduate Texts in Mathematics, (2002), ISBN 978-0-387-95373-1 Michael<br>
                                J. Laszlo. Computational Geometry and Computer Graphics in C++. Prentice-Hall. (1996)
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CURSO14-->
    <div class="modal fade" id="CURSO14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Curso avanzado de ecuaciones diferenciales ordinarias y parciales<br>
                        <span class="text-muted">Transformada de Fourier</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3>Merzon Anatoli</h3>
                    <br><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th><i class="icon-file"></i> Objetivo</th>
                            <td>Conocer los estudiantes con la transformada de Fourier y sus aplicaciones en ecuaciones diferenciales. Preparar par dar impartir este curso.</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Temario</th>
                            <td>
                                1. Distribuciones. Delta-función. Funciones clásicas como distribuciones.<br />
                                2 Espacio S y su transformada de Fourier. <br />
                                3. Espacio S&#039; y su transformada de Fourier.<br />
                                4. Espacio D y su transformada de Fourier.<br />
                                5. Espacio D&#039; y su transformada de Fourier. Funcionales analíticos.<br />
                                6. Teorema de Paley-Winer.<br />
                                7. Aplicaciones de la transformada de Fourier a las ecuaciones diferenciales. Soluciones fundamentales.
                            </td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Bibliografía</th>
                            <td>I.M. Gelfand, G.E. Shilov, Generalized function (se tiene en la forma electrónica.)</td>
                        </tr>
                        <tr>
                            <th><i class="icon-file"></i> Requisitos</th>
                            <td>Analisi 2, Algebra lineal I.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Sticky footer with fixed navbar</h1>
        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
        <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    </div>

    <footer class="footer">
        <div class="row text-center">
            <div class="col-md-1 col-md-offset-1">
                <img src="img/unam-logo.png" class="img-responsive">
            </div>
            <div class="col-md-1">
                <img src="img/im-logo.png" class="img-responsive">
            </div>
            <div class="col-md-2">
                <img src="img/ccm-logo.png" class="img-responsive">
            </div>
            <div class="col-md-1">
                <img src="img/academia-logo.png" class="img-responsive" >
            </div>
            <div class="col-md-1">
                <img src="img/tecoax-logo.png" class="img-responsive" >
            </div>
            <div class="col-md-1">
                <img src="img/cmo-logo.png" class="img-responsive" >
            </div>
            <div class="col-md-1">
                <img src="img/conacyt-logo.png" class="img-responsive" >
            </div>
            <div class="col-md-1">
                <img src="img/prima-logo.png" class="img-responsive" >
            </div>
            <div class="col-md-1">
                <img src="img/sociedad-logo.png" class="img-responsive" >
            </div>
        </div>
    </footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
