{% extends 'base.html.twig' %}

{% block content %}

    <div class="prima-title"><strong>CONTACT</strong></div>
    <div class="container prima-content">
        <p align="center"">prima2017<i class="fa fa-at" aria-hidden="true"></i>matmor.unam.mx
        </p>
    </div>

{% endblock %}