{% extends 'base.html.twig' %}

{% block content %}

    <div class="prima-title"><strong>FINANCIAL ASSISTANCE</strong></div>
    <div class="container prima-content">
        <p align="center">Coming Soon.
        </p>
    </div>

{% endblock %}