{% extends 'base.html.twig' %}

{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

            <li data-target="#myCarousel" data-slide-to="1"></li>

            <li data-target="#myCarousel" data-slide-to="2"></li>

            <li data-target="#myCarousel" data-slide-to="3"></li>

            <li data-target="#myCarousel" data-slide-to="4"></li>

        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img class="first-slide" src="img/alebrije-banner1.png" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>The Third Pacific Rim Mathematical Association (PRIMA) <br><small>Oaxaca, Mexico from August 14th till August 18th of 2017</small></h1>
                        <div class="page-header"></div>
                    </div>
                </div>
            </div>

            <div class="item">
                <img class="second-slide" src="img/alebrije-banner2.png" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Check if you need a VISA to visit Mexico!!!<br><small></small></h1>
                        <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#satelliteModal"><a href="http://www.inm.gob.mx/gobmx/word/index.php/paises-requieren-visa-para-mexico/">Mexican VISA</a></button></p>
                    </div>
                </div>
            </div>

            <div class="item active">
                <img class="third-slide" src="img/banner3.png" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><strong>Registration and Hotel booking<br>is now available</strong></h1>
                        <div class="page-header"></div>
                    </div>
                </div>
            </div>

            <div class="item">
                <img class="four-slide" src="img/banner4.png" alt="Four slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1> Online Registration until July 31th<br>
                            <br>Register Now

                        {#<br> <h3>You will be able to register on site</h3>#}
                        </h1><br>
                        <p><a href="https://prima2017.math.unam.mx/registration" class="btn btn-primary btn-lg">click here</a></p>

                        <div class="page-header"></div>
                    </div>
                </div>
            </div>

            <div class="item">
                <img class="five-slide" src="img/banner5.png" alt="Four slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1> Flight Coupon with Aeroméxico  <br>available!!!!
                            <br> <h3>found out the details</h3>
{#
                            <a href="img/boleto.png">coupon here<img src="img/aeromexico.pdf"></img></a>
#}
                        </h1>
                        <p><a href="https://prima2017.math.unam.mx/oaxaca" class="btn btn-primary btn-lg">click here</a></p>

                        <div class="page-header"></div>
                    </div>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /.carousel -->

    <!-- Modal -->
    <div class="modal fade " id="satelliteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">SATELLITE EVENTS TO PRIMA 2017 OAXACA, MEXICO</h4>
                </div>
                <div class="modal-body">
                    <h4>CALL FOR PROPOSALS FOR SATELLITE EVENTS TO PRIMA 2017 OAXACA, MEXICO<br><small>
                    August 14-18 2017</small></h4>

                    <p>PRIMA2017 is on its way, the organization is going smoothly and preparations are already under way to have an excellent experience in Oaxaca in August 2017. As in similar events, this is a great opportunity to gather specialists from all over the world.</p>
                    <p>The Organizing Committee calls for applications for financial assistance to organize a satellite conference to PRIMA2017, this may be on close dates before or after the event in Oaxaca and may be anywhere in México. Please submit a proposal explaining the title and areas to be covered by the conference, a brief exposition of the importance of the área and a list of tentative invited speakers and expected number of participants. The proposal must include: title of the conference, organizers and a contact organizar. The proposals must be sent to:
                    <strong>Dr. Daniel Juan</strong> <em>daniel<i class="fa fa-at" aria-hidden="true"></i>matmor.unam.mx</em>, and <strong>Dr. Jose Seade</strong> <em>jseade<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</em>.<br><br>
                    Deadline for submissions: January 31st 2017.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header text-center"><h2>Welcome Message</h2></div>
                <p class="lead text-center text-muted">The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca, Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences institutes, departments and societies from around the Pacific Rim, established in 2005 with the aim of promoting and facilitating the development of the mathematical sciences throughout the Pacific Rim region.</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="page-header"></div>
                <a href="img/cartel.jpg"><img src="img/postercito.jpg"></img></a>
            </div>
        </div>
{#
        <div align="center"><img src="img/postercito.png" style="height: 40px"></img>

            <p> Download  </p>
            <button type="button" class="btn btn-default"><a href="img/cartel.jpg">The poster here</a></button> <br>

        </div>
#}
      {#  <div class="page-header text-center"><h2>Organizing Committee<h2> </div>#}

        <!-- Button trigger modal -->
        <p class="text-center">
            <br>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
            Rooming list is now available
        </button>
        </p>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rooming list</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a href="http://gaspacho.matmor.unam.mx/prima/roominglist/PRIMA-HotelAngelInn.pdf" target="_blank">Hotel Angel Inn</a><br>
                        <a href="http://gaspacho.matmor.unam.mx/prima/roominglist/PRIMA-HotelFortin .pdf" target="_blank">Hotel Fortin</a><br>
                        <a href="http://gaspacho.matmor.unam.mx/prima/roominglist/PRIMA-HotelMision.pdf" target="_blank">Hotel Mision</a><br>
                        <a href="http://gaspacho.matmor.unam.mx/prima/roominglist/PRIMA-HotelVictoria.pdf" target="_blank">Hotel Victoria</a>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-header text-center"><h2>Organizing Committee<h2> </div>
        <div class="col-10 col-centered hidden-xs text-center">

             <div class="OrganizingCommittee"> <a href="http://www.matem.unam.mx/fsd/rolando/"><img src="img/FirstPage_rolando.png" alt="..." class="img-thumbnail text-center"><br>
            <h4 class="text-muted">Rolando Jiménez</h4> <br> <h7>Instituto de Matemáticas, <br>UNAM</h7></a> </div>

            <div class="OrganizingCommittee"> <a href="http://www.matmor.unam.mx/es/personal/investigadores/daniel/"> <img src="img/FirstPage_Daniel.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Daniel Juan</h4> <br><h7>Centro de Ciencias <br>Matemáticas, UNAM</h7> </a></div>

            <div class="OrganizingCommittee"> <a href="http://www.matem.unam.mx/fsd/daniel/cv/cvguestfolder/cvguest2011-06-06/"><img src="img/FirstPage_silvia.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Silvia Millan</h4><br><h7>Instituto de Matemáticas, <br>UNAM</h7></a></div>

            <div class="OrganizingCommittee"> <a href="http://www.matem.unam.mx/fsd/jseade/"><img src="img/FirstPage_seade.png" alt="..." class="img-thumbnail text-center"><br>
                    <h4 class="text-muted">José A. Seade</h4><br><h7>Instituto de Matemáticas, <br>UNAM</h7></a></div>

            <div class="OrganizingCommittee"> <a href="https://en.wikipedia.org/wiki/James_Colliander"><img src="img/FirstPage_colliander.png" alt="..." class="img-thumbnail text-center"><br>
                    <h4 class="text-muted">James Colliander</h4> <br><h7>University of British <br>Columbia - PIMS </h7></a> </div>

        </div>

 {#       <div class="row text-center plenary">
            <div class="col-md-3"><img src="img/FirstPage_rolando.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Rolando Jiménez <br><small>Instituto de Matemáticas, UNAM</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_Daniel.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Daniel Juan<br><small>Centro de Ciencias Matemáticas, UNAM</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_silvia.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Silvia Millan<br><small>Centro de Investigación en Matemáticas</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_seade.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">José A. Seade<br><small>Instituto de Matemáticas, UNAM</small></h4>
            </div>
        </div>#}

        <div class="page-header text-center"><h2>Scientific Committee</h2></div>
        <div align="center">
            <div><h4>Maria Chudnovsky <br><small class="text-muted">Columbia University</small></h4></div>
            <div><h4>Kenji Fukaya <br><small class="text-muted">Simons Center, Stony Brook</small></h4></div>
            <div><h4>Peter Sarnak <br><small class="text-muted">Princeton</small></h4></div>
            <div><h4>Jongil Park <br><small class="text-muted">Seoul National University</small></h4></div>
            <div><h4>Kyoji Saito <br><small class="text-muted">Kavli-IPMU, Tokyo</small></h4></div>
            <div><h4>Patricio Felmer <br><small class="text-muted">CMM, Universidad de Chile</small></h4></div>
            <div><h4>Weinan E <br><small class="text-muted">Peking U/Princeton</small></h4></div>
            <div><h4>Alan Carey <br><small class="text-muted">Aust.National University</small></h4></div>
            <div><h4>Sujatha Ramdorai <br><small class="text-muted">UBC, Canada</small></h4></div>
            <div><h4>Alberto Verjovsky <br><small class="text-muted">UNAM, Mexico</small></h4></div>
            <div><h4>Hinke Osinga <br><small class="text-muted">University of Auckland</small></h4></div>
            <div><h4>Alice Guionnet <br><small class="text-muted">MIT</small></h4></div>
        </div>
    </div>

{% endblock %}


