{% extends 'base.html.twig' %}

{% block content %}

 {#       <div class="prima-header">
            <div class="prima-header-content">
                <h3>PRIMA 2017</h3>
                <p>The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca, Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences institutes, departments and societies from around the Pacific Rim, established in 2005 with the aim of promoting and facilitating the development of the mathematical sciences throughout the Pacific Rim region.</p>

            </div>
        </div>
    <section class="cta-section text-center">
    </section>

    <div class="prima-banner">
        <div class="row">
            <div class="col-md-4 col-md-offset-6">
                <h3>PRIMA 2017</h3>
                <p>The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca, Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences institutes, departments and societies from around the Pacific Rim, established in 2005 with the aim of promoting and facilitating the development of the mathematical sciences throughout the Pacific Rim region.</p>
            </div>
        </div>
    </div>
#}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="img/alebrije-banner1.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>The Third Pacific Rim Mathematical Association (PRIMA) <br><small>Oaxaca, Mexico from August 14th till August 18th of 2017</small></h1>
                {#<p class="lead">The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca, Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences institutes, departments and societies from around the Pacific Rim, established in 2005 with the aim of promoting and facilitating the development of the mathematical sciences throughout the Pacific Rim region.</p>#}
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="img/alebrije-banner2.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>CALL FOR PROPOSALS FOR SATELLITE EVENTS TO PRIMA 2017 OAXACA, MEXICO<br><small>August 14-18 2017</small></h1>
              <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#satelliteModal">Learn more</button></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- /.carousel -->


    <!-- Modal -->
    <div class="modal fade " id="satelliteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">SATELLITE EVENTS TO PRIMA 2017 OAXACA, MEXICO</h4>
                </div>
                <div class="modal-body">
                    <h4>CALL FOR PROPOSALS FOR SATELLITE EVENTS TO PRIMA 2017 OAXACA, MEXICO<br><small>
                    August 14-18 2017</small></h4>

                    <p>PRIMA2017 is on its way, the organization is going smoothly and preparations are already under way to have an excellent experience in Oaxaca in August 2017. As in similar events, this is a great opportunity to gather specialists from all over the world.</p>
                    <p>The Organizing Committee calls for applications for financial assistance to organize a satellite conference to PRIMA2017, this may be on close dates before or after the event in Oaxaca and may be anywhere in México. Please submit a proposal explaining the title and areas to be covered by the conference, a brief exposition of the importance of the área and a list of tentative invited speakers and expected number of participants. The proposal must include: title of the conference, organizers and a contact organizar. The proposals must be sent to:
                    <strong>Dr. Daniel Juan</strong> <em>daniel<i class="fa fa-at" aria-hidden="true"></i>matmor.unam.mx</em>, and <strong>Dr. Jose Seade</strong> <em>jseade<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</em>.<br><br>
                    Deadline for submissions: January 31st 2017.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header text-center"><h2>Welcome Message</h2></div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="lead text-center text-muted">The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca, Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences institutes, departments and societies from around the Pacific Rim, established in 2005 with the aim of promoting and facilitating the development of the mathematical sciences throughout the Pacific Rim region.</p>
            </div>
        </div>
        <div class="page-header text-center"><h2>Organizing Committee<h2> </div>
        <div class="row text-center plenary">
            <div class="col-md-3"><img src="img/FirstPage_rolando.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Rolando Jiménez <br><small>Instituto de Matemáticas, UNAM</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_Daniel.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Daniel Juan<br><small>Centro de Ciencias Matemáticas, UNAM</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_silvia.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Silvia Millan<br><small>Centro de Investigación en Matemáticas</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_seade.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">José A. Seade<br><small>Instituto de Matemáticas, UNAM</small></h4>
            </div>
        </div>

        <div class="page-header text-center"><h2>Scientific Committee<h2></div>
        <div align="center">
            <div><h4>Maria ChudnovskyS <br><small>Columbia University</small></h4></div>
            <div><h4>Kenji Fukaya <br><small>Simons Center, Stony Brook</small></h4></div>
            <div><h4>Peter arnak <br><small>Princeton</small></h4></div>
            <div><h4>Jongil Park <br><small>Seoul National University</small></h4></div>
            <div><h4>Kyoji Saito <br><small>Kavli-IPMU, Tokyo</small></h4></div>
            <div><h4>Patricio Felmer <br><small>CMM, Universidad de Chile</small></h4></div>
            <div><h4>Weinan E <br><small>Peking U/Princeton</small></h4></div>
            <div><h4>Alan Carey <br><small>Aust.National University</small></h4></div>
            <div><h4>Sujatha Ramdorai <br><small>UBC, Canada</small></h4></div>
            <div><h4>Alberto Verjovsky <br><small>UNAM, Mexico</small></h4></div>
            <div><h4>Hinke Osinga <br><small>University of Auckland</small></h4></div>
            <div><h4>Alice Guionnet <br><small>MIT</small></h4></div>
        </div>

        <div class="page-header text-center"><h2>Location<h2></div>

    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3813.9092812525923!2d-96.74747708481743!3d17.077089588265174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c72206b7925b3d%3A0xd51e3a6761b068d9!2sVictor+Bravo+Ahuja+125%2C+Instituto+Tecnologico+de+Oaxaca%2C+68030+Oaxaca%2C+Oax.!5e0!3m2!1sen!2smx!4v1484162845162" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

{% endblock %}


