{% extends 'base.html.twig' %}

{% block content %}

 {#       <div class="prima-header">
            <div class="prima-header-content">
                <h3>PRIMA 2017</h3>
                <p>The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca, Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences institutes, departments and societies from around the Pacific Rim, established in 2005 with the aim of promoting and facilitating the development of the mathematical sciences throughout the Pacific Rim region.</p>

            </div>
        </div>
    <section class="cta-section text-center">
    </section>
#}
    <div class="prima-banner">
        <div class="row">
            <div class="col-md-4 col-md-offset-6">
                <h3>PRIMA 2017</h3>
                <p>The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca, Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences institutes, departments and societies from around the Pacific Rim, established in 2005 with the aim of promoting and facilitating the development of the mathematical sciences throughout the Pacific Rim region.</p>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="page-header text-center"><h2>Organizing Committee<h2> </div>
        <div class="row text-center plenary">
            <div class="col-md-3"><img src="img/FirstPage_rolando.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Rolando Jiménez <br><small>Instituto de Matemáticas, UNAM</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_Daniel.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Daniel Juan<br><small>Centro de Ciencias Matemáticas, UNAM</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_silvia.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">Silvia Millan<br><small>Centro de Investigación en Matemáticas</small></h4>
            </div>
            <div class="col-md-3"><img src="img/FirstPage_seade.png" alt="..." class="img-thumbnail text-center"><br>
                <h4 class="text-muted">José A. Seade<br><small>Instituto de Matemáticas, UNAM</small></h4>
            </div>
        </div>

        <div class="page-header text-center"><h2>Scientific Committee<h2></div>
        <div align="center">
            <div><h4>Maria ChudnovskyS <br><small>Columbia University</small></h4></div>
            <div><h4>Kenji Fukaya <br><small>Simons Center, Stony Brook</small></h4></div>
            <div><h4>Peter arnak <br><small>Princeton</small></h4></div>
            <div><h4>Jongil Park <br><small>Seoul National University</small></h4></div>
            <div><h4>Kyoji Saito <br><small>Kavli-IPMU, Tokyo</small></h4></div>
            <div><h4>Patricio Felmer <br><small>CMM, Universidad de Chile</small></h4></div>
            <div><h4>Weinan E <br><small>Peking U/Princeton</small></h4></div>
            <div><h4>Alan Carey <br><small>Aust.National University</small></h4></div>
            <div><h4>Sujatha Ramdorai <br><small>UBC, Canada</small></h4></div>
            <div><h4>Alberto Verjovsky <br><small>UNAM, Mexico</small></h4></div>
            <div><h4>Hinke Osinga <br><small>University of Auckland</small></h4></div>
            <div><h4>Alice Guionnet <br><small>MIT</small></h4></div>
        </div>

        <div class="page-header text-center"><h2>Location<h2></div>

    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3207.343408476283!2d-96.72601266887976!3d17.06308234772094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c72249df26d9b1%3A0xac88a77657dffc3b!2sOaxaca!5e0!3m2!1sen!2smx!4v1481739618410" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" allowfullscreen></iframe>

    {#<div class="container prima-content">
    <p class="text-justify">The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca,
        Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences
        institutes, departments and societies from around the Pacific Rim, established in 2005 with the
        aim of promoting and facilitating the development of the mathematical sciences throughout the
        Pacific Rim region.
    </p>
</div>#}

{% endblock %}


