{% extends 'base.html.twig' %}

{% block content %}

    <div class="oaxaca-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <h1></h1>
                    <h1>Oaxaca</h1>
                    <p class="text-left">
                        <h4>
                        Oaxaca (pronounced wa-hah-kah), founded in 1532, is a city located about 400km south of Mexico City, is the capital of the state of the same name. It has a mild climate, due to its altitude of 1555m above sea level. Rich in history and culture, Oaxaca is a fascinating destination, sometimes considered "Mexico's culinary and art capital". Archeology, ancient civilizations, colonial art and architecture, can be appreciated. It is a safe city, full with vibrant cultural traditions.
                        </h4>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="oaxaca-content container">
        <h4>Getting there</h4>
        <p class="oaxaca-p text-justify">
            Oaxaca has an international airport (OAX). You can either fly to Oaxaca from Mexico City
            (by Aeromexico, Interjet or Volaris) or from Houston (by United); there are also flights from
            other Mexican cities. There is an intercity bus service from Mexico City to Oaxaca; the trip
            takes 6 to 7 hours. The buses depart from Terminal de Autobuses de Pasajeros de Oriente
            (TAPO) which can be reached from the Mexico City Airport by city bus (metrobus).
        </p>

        <h4>Conference venue</h4>
        <div class="row">

            <div class="col-lg-6">
                <p class="oaxaca-p">
                    Instituto Tecnológico de Oaxaca (ITO)
                    Avenida Ing. Víctor Bravo Ahuja No. 125 Esquina Calzada Tecnológico, C.P. 68030
                    All academic activities will take place here.
                </p>
            </div>
        </div>

        <h4>Hotels</h4>
        <p>LODGING, we have reserved several spaces in the following hotels at a special rate for PRIMA2017 participants, please
            note that all     of these hotels have the same conditions (same rate with buffet breakfast included) use the
            following RESERVATION CODE: CONGRESO PRIMA 2017</p>
        <p class="oaxaca-p">
            1 Adult: $ 1200.00<br>
            2 Adults: $ 1390.00<br>
            3 Adults: $ 1,800.00<br>
            4 Adults: $ 2,230.00<br>
        </p>
        <p class="oaxaca-p"><ins>Each participant should reserve the hotel.</ins></p>


        <div class="row">

            <div class="col-lg-6">
                <h4><a href="http://www.hotelvictoriaoax.com.mx" target="_blank">HOTEL VICTORIA OAXACA </a></h4>
                <p class="oaxaca-p">Contact: Rosalba Morales <br>
                    grupos<i class="fa fa-at"></i>hotelvictoriaoax.com.mx<br>

                </p>

            </div>
            <div class="col-lg-6">
                <h4><a href="http://www.hotelfortinplaza.com.mx" target="_blank">HOTEL FORTÍN PLAZA</a></h4>
                <p class="oaxaca-p"> Contact: Lic. Isela Matadamas <br>

                    booking: grupos<i class="fa fa-at"></i>hotelfortinplaza.com.mx<br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h4><a href="http://www.misiondelosangeles.com">MISIÓN DE LOS ÁNGELES</a></h4>
                <p class="oaxaca-p"> Contact: Lic. Nancy Cruz <br>

                    booking: grupos<i class="fa fa-at"></i>misiondelosangeles.com<br>

                </p>
            </div>
            <div class="col-lg-6">
                <h4><a href="http://www.hotelangelinn.com" target="_blank">HOTEL ANGEL INN</a></h4>
                <p class="oaxaca-p"> Contact: Lic. Rocío Cruz <br>

                    booking: reservas_hai<i class="fa fa-at"></i>hotelangelinn.com<br>
                </p>
            </div>
        </div>

        <p class="oaxaca-p">
            All rates are in MXN.<br>
            All rates and discounts are subject to availability.<br>
            Don´t include tips.<br>
        </p>

        <div class="page-header text-center"><h2>Location<h2></div>
    </div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1pgnFkDAQxZOke7oOhPo-3dnQujA&hl=en" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

{% endblock %}