{% extends 'base.html.twig' %}

{% block content %}

    <div class="container prima-title">
        <div><strong>PROGRAM</strong></div>
    </div>

    <div class="container prima-content">
        <p class="text-justify">The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca,
            Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences
            institutes, departments and societies from around the Pacific Rim, established in 2005 with the
            aim of promoting and facilitating the development of the mathematical sciences throughout the
            Pacific Rim region.
        </p>

        <div class="col-lg-offset-4">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">GENERAL PROGRAM</a></li>
                <li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
                <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">SPECIAL SESSIONS</a></li>
            </ul>
        </div>

        <div>
            <!-- Tab panes -->
            <div class="tab-content prima-program">
                <div role="tabpanel" class="tab-pane active table-responsive" id="general">
{#
                    <table class="table table-general table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="background-color: #EEF5F6; text-align: center">SUNDAY 13</th>
                            <th style="text-align: center">MONDAY 14</th>
                            <th style="background-color: #EEF5F6; text-align: center">TUESDAY 15</th>
                            <th style="text-align: center">WEDNESDAY 16</th>
                            <th style="background-color: #EEF5F6; text-align: center">THURSDAY 17</th>
                            <th style="text-align: center">FRIDAY 18</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2; text-align: left;">9:00-10:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">INAUGURAL CEREMONY</td>
                            <td style="background-color: #D6EAED">PL 3</td>
                            <td style="background-color: #E2F0F2">PL 6</td>
                            <td style="background-color: #D6EAED">PL 9</td>
                            <td style="background-color: #E2F0F2">PL 12</td>
                        </tr>
                        <tr> <th scope="row">10:00-11:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>BREAK 15 min<br>PL1 (10:15-11:15)</td>
                            <td style="background-color: #E2F0F2">PL 4</td>
                            <td>PL 7</td>
                            <td style="background-color: #E2F0F2">PL 10</td>
                            <td>PL 13</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2; text-align: left">11:00-12:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">PL2 (11:15-12:15)</td>
                            <td style="background-color: #D6EAED">PL 5</td>
                            <td style="background-color: #E2F0F2">PL 8</td>
                            <td style="background-color: #D6EAED">PL 11</td>
                            <td style="background-color: #E2F0F2">PL 14</td>
                        </tr>
                        <tr>
                            <th scope="row">12:00-15:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>LUNCH</td>
                            <td style="background-color: #E2F0F2">LUNCH</td>
                            <td>LUNCH</td>
                            <td style="background-color: #E2F0F2">LUNCH</td>
                            <td>LUNCH</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2">15:00-19:30</th>
                            <td style="background-color: #D6EAED">REGISTRATION AND <br>WELCOME<br> RECEPTION</td>
                            <td style="background-color: #E2F0F2">SPECIAL SESSIONS</td>
                            <td style="background-color: #D6EAED">SPECIAL SESSIONS</td>
                            <td style="background-color: #E2F0F2">FREE AFTERNOON</td>
                            <td style="background-color: #D6EAED">SPECIAL SESSIONS</td>
                            <td style="background-color: #E2F0F2">SPECIAL SESSIONS</td>
                        </tr>
                        <tr>
                            <th scope="row">19:30-20:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2">20:00-21:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">PUBLIC LECTURE</td>
                            <td style="background-color: #D6EAED">PUBLIC LECTURE</td>
                            <td style="background-color: #E2F0F2">BANQUET</td>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="text-center p-table-general"> <strong>PL = PLENARY LECTURE</strong></p>
#}
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="pill">Sunday 13</a></li>
                        <li role="presentation"><a href="#monday" aria-controls="monday" role="tab" data-toggle="pill">Monday 14</a></li>
                        <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="pill">Tuesday 15</a></li>
                        <li role="presentation"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="pill">Wednesday 16</a></li>
                        <li role="presentation"><a href="#thursday" aria-controls="thursday" role="tab" data-toggle="pill">Thursday 17</a></li>
                        <li role="presentation"><a href="#friday" aria-controls="friday" role="tab" data-toggle="pill">Friday 18</a></li>
                    </ul>
                    <h1></h1>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="sunday">
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h4>REGISTRATION AND WELCOME RECEPTION</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="monday">
                            {# Monday content
                            <div class="page-header"><h3>Monday, 14 August</h3></div>#}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>INAUGURAL CEREMONY</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-10:15</strong></div>
                                <div class="panel-body">
                                    <h4>BREAK</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:15-11:15</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 1</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:15-12:15</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL2</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:15-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-17:00</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 1</h3><br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Matroid Theory</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Bergman Spaces and Toeplitz operators</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Dynamical Systems and Geometry</h4>
                                                Room 3
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Algebraic and Enumerative Combinatorics</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Mathematical Ecology and Epidemiology</h4>
                                                Room 5
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Advances in Geometric Methods in Mechanics with Applications</h4>
                                                Room 6
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Nonlinear Elliptic PDE and Systems</h4>
                                                Room 3
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Algebraic Geometry</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:00-17:30</strong></div>
                                <div class="panel-body">
                                    <h4>Coffee Break</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:30-19:30</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Special Functions, Orthogonal Polynomials and Applications</h4>
                                                Room 9
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Geometry and Topology</h4>
                                                Room 10
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and  Combinatorial Methods</h4>
                                                Room 11
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>19:30-20:00</strong></div>
                                <div class="panel-body">
                                    <h4></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>Public Lecture</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tuesday">
                            {# Tuesday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 3</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 4</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 5</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-17:00</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 1</h3><br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Algebraic Geometry</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Special Functions, Orthogonal Polynomials and Applications</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Geometry and Topology</h4>
                                                Room 3
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and Combinatorial Methods</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:00-17:30</strong></div>
                                <div class="panel-body">
                                    <h4>Coffee Break</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:30-19:30</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and Combinatorial Methods</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>19:30-20:00</strong></div>
                                <div class="panel-body">
                                    <h4></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>Public Lecture</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="wednesday">
                            {# Wednesday content
                            <div class="page-header"><h3>Monday, 14 August</h3></div>#}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 6</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 7</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 8</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-20:00</strong></div>
                                <div class="panel-body">
                                    FREE AFTERNOON
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-</strong></div>
                                <div class="panel-body">
                                    <h4>Banquet</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="thursday">
                            {# Thursday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 9</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 10</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 11</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-17:00</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 2</h3><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Differential Geometry</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Current Trends in Symplectic Geometry and Topology</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Symmetric Structures in Discrete Geometry</h4>
                                                Room 3
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:00-17:30</strong></div>
                                <div class="panel-body">
                                    <h4>Coffee Break</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:30-19:30</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Discrete Math</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Matrix Analysis and its Applications</h4>
                                                Room 5
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Instability of natural convection in cylindrical containers</h4>
                                                Room 5
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="friday">
                            {# Friday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 12</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 13</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 14</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-17:00</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 2</h3><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Groups and orbifolds in geometry and topology</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Singularities of Spaces and Mappings</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Poisson Geometry and Its Applications</h4>
                                                Room 3
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:00-17:30</strong></div>
                                <div class="panel-body">
                                    <h4>Coffee Break</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:30-19:30</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well">
                                                <h4>Inverse problems and PDE Control Theory Stochastic Processes and Applications</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="social"></div>
                <div role="tabpanel" class="tab-pane table-responsive" id="special">



                    <div class="special-session-a" ><strong>Matroid Theory</strong><br>
                        <small>Criel Merino (IM-Oax) Carolyn Chun (LSU) Dillon Mayhew (U. Wellington-Victoria)</small> <br>
                        <small>merinomatem.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Bergman Spaces and Toeplitz operators</strong><br>
                            <small>Salvador Perez Esteva (IM-Cuer) Kehe Zhu (St. Univ New York Albay)</small> <br>
                        <small>spesteva@im.unam.mx</small><br>
                        </div>
                    </br>
                        <div class="special-session-a" ><strong>Dynamical Systems and Geometry</strong><br>
                            <small>Carlos Cabrera-Aubin Arroyo (IM-Cuer), Tomoki Kawahira (Tokyo I. Of Technology), Federico Rodriuez (Penn State), Andres Navas (U. De santiago)</small> <br>
                            <small>aubinarroyo@im.unam.mx</small><br>
                        </div>
                        </br>

                        <div class="special-session-b"><strong>Differential Geometry</strong><br>
                            <small>Kazuo Akutagawa Tokyo I. of Tech.), Akito Futaki (U. of Tokyo), Jimy Petean (CIMAT)</small> <br>
                            <small>jimmy@cimat.mx</small><br>
                            </div>
                    </br>

                            <div class="special-session-a" ><strong>Current Trends in Symplectic Geometry and Topology</strong><br>
                                <small>Cheol-Hyun Cho (Seoul National. Univ.), Eduardo Gonzalez (UMASS, Boston), Haoru Ono (RImS, Kyoto), Andres Pedroza (Colima), Yasha Savelyev (Colima)</small> <br>
                                <small>andres_pedroza@ucol.mx</small><br>
                            </div>
                    </br>


                            <div class="special-session-b"><strong>Symmetric Structures in Discrete Geometry</strong><br>
                                <small>Asia Ivic Weiss ( York Univ.), Daniel Pellicer (CCM), Egon Schulte (NE University, Boston)</small> <br>
                                <small>pellicer@matmor.unam.mx</small><br>
                            </div>
                            </br>

                            <div class="special-session-a"><strong>Algebraic and Enumerative Combinatorics</strong><br>
                        <small>Ernesto Vallejo (CCM) Marcelo Aguiar (Cornell) Nantel Bergeron (York, Canada)</small> <br>
                        <small>ernevallejo@gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Discrete Math</strong><br>
                        <small>Natalia García Colín  (Infotec), Luis Goddyn (Simon Fraser Univ.),  Amanda Montejano (UNAM)</small> <br>
                        <small>garciacolin.natalia@googlemail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Mathematical Ecology and Epidemiology</strong><br>
                        <small>Jorge Velasco (IM-Juriquilla) Michael Li (U. Alberta) Hisahi Inaba (U. Tokyo) Ying-Hen (China Med. University)</small> <br>
                        <small>jx.velasco@im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Advances in Geometric Methods in Mechanics with Applications</strong><br>
                        <small>Luis García Naranjo (UNAM), Vakhtang Putkaradza (Alberta), Dmitry Zenkov (NCSU)</small> <br>
                        <small>putkarad@ualberta.ca</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Nonlinear Elliptic PDE and Systems</strong><br>
                        <small>Nils Ackerman (IM) Du Yihong (Australia) Musso Monica (Chile) Tanaka Kazunaga (Japan)</small> <br>
                        <small>nils@ackermath.info</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Matrix Analysis and its Applications</strong><br>
                        <small>Qing-Wen Wamng (Shangai Univ.), Fuhzen  Zhang (Miami), Yang Zhang (Mantoba)</small> <br>
                        <small>zhang@nova.edu</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Instability of natural convection in cylindrical containers</strong><br>
                        <small>Eduardo Ramos (IER, UNAM)</small> <br>
                        <small>erm@ier.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Algebraic Geometry</strong><br>
                        <small>Pedro Luis del Angel (CIMAT), Keinichiro Kimura (Tsukuba)</small> <br>
                        <small>luis@cimat.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Groups and orbifolds in geometry and topology</strong><br>
                        <small>Ernesto Lupercio (CINVESTAV) Alejandro Adem (UBC) Jianzhang Pan (Academia Sinica, China)</small> <br>
                        <small>lupercio@math.cinvestav.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Special Functions, Orthogonal Polynomials and Applications</strong><br>
                        <small>Manuel Dominguez (IM, UNAM), Luis E. Garza Gaona (Colima)</small> <br>
                        <small>mdi29@im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Singularities of Spaces and Mappings</strong><br>
                        <small>Jawad Snousi-Jose Seade (IM-Cuer) David Massey (USA) Masaharu Ishikawa (Japan) Nguyen Viet Dung (Vietnam)</small> <br>
                        <small>jsnoussi@im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Poisson Geometry and Its Applications</strong><br>
                        <small>Misael Avendaño (UNISON), Matias del Hoyo (IMPA), Rui Loja Fernandes (U. Illinois-Urbana), Yuri Vorobiev (U. de Sonora)</small> <br>
                        <small>misaelave@mat.uson.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Geometry and Topology</strong><br>
                        <small>Daniel Juan  (CCM)   Chris Connell (Indiana)       Fuquan Fang (Capital Normal Univ. China)</small> <br>
                        <small>daniel@matmor.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Inverse problems and PDE Control Theory</strong><br>
                        <small> Luz de Teresa (IM-UNAM), Héctor Morales Bárcenas (UAM-Mexico),  Abdon Choque (IFM)</small> <br>
                        <small>abdon.ifm@gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Commutative Algebra: Homological and Combinatorial Methods</strong><br>
                        <small>Louiza Fouli (New Mexico State Univ.), Luis Nuñez Betancourt (CIMA), Rafael Heraclio Villareal (Cinvestav), Yuji Yoshino (Okayama Univ.)</small> <br>
                        <small>rhvillarreal@gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Stochastic Processes and Applications</strong><br>
                        <small>Victor Rivero (CIMAT) Joaquin Fontbona (DIM Chile) Kouji Yano (Kyoto)</small> <br>
                        <small>jcpardo@cimat.mx</small><br>
                    </div>
                    </br>



                </div>
            </div>
        </div>

    </div>

{% endblock %}