{% extends 'base.html.twig' %}

{% block content %}

    <div class="container prima-title">
        <div><strong>PROGRAM</strong></div>
    </div>

    <div class="container prima-content">
        <p class="text-justify">The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca,
            Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences
            institutes, departments and societies from around the Pacific Rim, established in 2005 with the
            aim of promoting and facilitating the development of the mathematical sciences throughout the
            Pacific Rim region.
        </p>

        <div class="col-lg-offset-4">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">GENERAL PROGRAM</a></li>
                <li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
                <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">SPECIAL SESSION</a></li>
            </ul>
        </div>
        <div>
            <!-- Tab panes -->
            <div class="tab-content prima-program">
                <div role="tabpanel" class="tab-pane active table-responsive" id="general">
                    <table class="table table-general table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="background-color: #EEF5F6">SUNDAY 13</th>
                            <th>MONDAY 14</th>
                            <th style="background-color: #EEF5F6">TUESDAY 15</th>
                            <th>WEDNESDAY 16</th>
                            <th style="background-color: #EEF5F6">THURSDAY 17</th>
                            <th>FRIDAY 18</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2; text-align: left">9:00-10:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">INAUGURAL CEREMONY</td>
                            <td style="background-color: #D6EAED">PL 3</td>
                            <td style="background-color: #E2F0F2">PL 6</td>
                            <td style="background-color: #D6EAED">PL 9</td>
                            <td style="background-color: #E2F0F2">PL 12</td>
                        </tr>
                        <tr> <th scope="row">10:00-11:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>BREAK 15 min<br>PL1 (10:15-11:15)</td>
                            <td style="background-color: #E2F0F2">PL 4</td>
                            <td>PL 7</td>
                            <td style="background-color: #E2F0F2">PL 10</td>
                            <td>PL 13</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2; text-align: left">11:00-12:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">PL2 (11:15-12:15)</td>
                            <td style="background-color: #D6EAED">PL 5</td>
                            <td style="background-color: #E2F0F2">PL 8</td>
                            <td style="background-color: #D6EAED">PL 11</td>
                            <td style="background-color: #E2F0F2">PL 14</td>
                        </tr>
                        <tr>
                            <th scope="row">12:00-15:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>LUNCH</td>
                            <td style="background-color: #E2F0F2">LUNCH</td>
                            <td>LUNCH</td>
                            <td style="background-color: #E2F0F2">LUNCH</td>
                            <td>LUNCH</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2">15:00-19:30</th>
                            <td style="background-color: #D6EAED">REGISTRATION AND <br>WELCOME<br> RECEPTION</td>
                            <td style="background-color: #E2F0F2">SPECIAL SESSIONS</td>
                            <td style="background-color: #D6EAED">SPECIAL SESSIONS</td>
                            <td style="background-color: #E2F0F2">FREE AFTERNOON</td>
                            <td style="background-color: #D6EAED">SPECIAL SESSIONS</td>
                            <td style="background-color: #E2F0F2">SPECIAL SESSIONS</td>
                        </tr>
                        <tr>
                            <th scope="row">19:30-20:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2">20:00-21:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">PUBLIC LECTURE</td>
                            <td style="background-color: #D6EAED">PUBLIC LECTURE</td>
                            <td style="background-color: #E2F0F2">BANQUET</td>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>

                        </tr>
                        </tbody>
                    </table>
                    <p class="text-center p-table-general"> <strong>PL = PLENARY LECTURE</strong></p>
                </div>
                <div role="tabpanel" class="tab-pane" id="social">...</div>
                <div role="tabpanel" class="tab-pane" id="special">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Organizer</th>
                            <th>Email</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Matroid Theory</td>
                        </tr>
                        <tr>
                            <td>Bergman Spaces and Toeplitz operators</td>
                        </tr>
                        <tr>
                            <td>Dynamical Systems and Geometry</td>
                        </tr>
                        <tr>
                            <td>Differential Geometry</td>
                        </tr>
                        <tr>
                            <td>Current Trends in Symplectic Geometry and Topology</td>
                        </tr>
                        <tr>
                            <td>Symmetric Structures in Discrete Geometry</td>
                        </tr>
                        <tr>
                            <td>Algebraic and Enumerative Combinatorics</td>
                        </tr>
                        <tr>
                            <td>Discrete Math</td>
                        </tr>
                        <tr>
                            <td>Mathematical Ecology and Epidemiology</td>
                        </tr>
                        <tr>
                            <td>Advances in Geometric Methods in Mechanics with Applications</td>
                        </tr>
                        <tr>
                            <td>Nonlinear Elliptic PDE and Systems</td>
                        </tr>
                        <tr>
                            <td>Matrix Analysis and its Applications</td>
                        </tr>
                        <tr>
                            <td>Instability of natural convection in cylindrical containers</td>
                        </tr>
                        <tr>
                            <td>Algebraic Geometry</td>
                        </tr>
                        <tr>
                            <td>Groups and orbifolds in geometry and topology</td>
                        </tr>
                        <tr>
                            <td>Special Functions, Orthogonal Polynomials and Applications</td>
                        </tr>
                        <tr>
                            <td>Singularities of Spaces and Mappings</td>
                        </tr>
                        <tr>
                            <td>Poisson Geometry and Its Applications</td>
                        </tr>
                        <tr>
                            <td>Geometry and Topology</td>
                        </tr>
                        <tr>
                            <td>Inverse problems and PDE Control Theory</td>
                        </tr>
                        <tr>
                            <td>Commutative Algebra: Homological and Combinatorial Methods</td>
                        </tr>
                        <tr>
                            <td>Stochastic Processes and Applications</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

{% endblock %}