{% extends 'base.html.twig' %}

{% block content %}

    <div class="container prima-title">
        <div><strong>PROGRAM</strong></div>
    </div>

    <div class="container prima-content">
        <p class="text-justify"> Welcome to the Third Pacific Rim Mathematical Association.
        </p>

        <div class="col-lg-offset-4">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">GENERAL PROGRAM</a></li>
                <li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
                <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">SPECIAL SESSIONS</a></li>
            </ul>
        </div>

        <div>
            <!-- Tab panes -->
            <div class="tab-content prima-program">
                <div role="tabpanel" class="tab-pane active table-responsive" id="general">

                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="pill">Sunday 13</a></li>
                        <li role="presentation"><a href="#monday" aria-controls="monday" role="tab" data-toggle="pill">Monday 14</a></li>
                        <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="pill">Tuesday 15</a></li>
                        <li role="presentation"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="pill">Wednesday 16</a></li>
                        <li role="presentation"><a href="#thursday" aria-controls="thursday" role="tab" data-toggle="pill">Thursday 17</a></li>
                        <li role="presentation"><a href="#friday" aria-controls="friday" role="tab" data-toggle="pill">Friday 18</a></li>
                    </ul>
                    <h1></h1>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="sunday">
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h4>REGISTRATION AND WELCOME RECEPTION</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="monday">
                            {# Monday content
                            <div class="page-header"><h3>Monday, 14 August</h3></div>#}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>INAUGURAL CEREMONY</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-10:15</strong></div>
                                <div class="panel-body">
                                    <h4>BREAK</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:15-11:15</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 1</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:15-12:15</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL2</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:15-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 1</h3>
                                    <p>Coffee Break From 17:00 to 17:30</p>
                                    <br>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4><a href="{{ app.request.basepath }}/sessions/matroid-theory">Matroid Theory</a></h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Bergman Spaces and Toeplitz operators</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Dynamical Systems and Geometry</h4>
                                                Room 3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Algebraic and Enumerative Combinatorics</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Symmetric Structures in Discrete Geometry</h4>
                                                Room 5
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Advances in Geometric Methods in Mechanics with Applications</h4>
                                                Room 6
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Nonlinear Elliptic PDE and Systems</h4>
                                                Room 3
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Algebraic Geometry</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Special Functions, Orthogonal Polynomials and Applications</h4>
                                                Room 9
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Geometry and Topology</h4>
                                                Room 10
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and  Combinatorial Methods</h4>
                                                Room 11
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>19:30-20:00</strong></div>
                                <div class="panel-body">
                                    <h4></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>Public Lecture</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tuesday">
                            {# Tuesday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 3</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 4</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 5</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 1</h3>
                                    <p>Coffee Break From 17:00 to 17:30</p>
                                    <br>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4><a href="{{ app.request.basepath }}/sessions/matroid-theory">Matroid Theory</a></h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Bergman Spaces and Toeplitz operators</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Dynamical Systems and Geometry</h4>
                                                Room 3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Algebraic and Enumerative Combinatorics</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Symmetric Structures in Discrete Geometry</h4>
                                                Room 5
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Advances in Geometric Methods in Mechanics with Applications</h4>
                                                Room 6
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Nonlinear Elliptic PDE and Systems</h4>
                                                Room 3
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Algebraic Geometry</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Special Functions, Orthogonal Polynomials and Applications</h4>
                                                Room 9
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Geometry and Topology</h4>
                                                Room 10
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and  Combinatorial Methods</h4>
                                                Room 11
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>19:30-20:00</strong></div>
                                <div class="panel-body">
                                    <h4></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>Public Lecture</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="wednesday">
                            {# Wednesday content
                            <div class="page-header"><h3>Monday, 14 August</h3></div>#}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 6</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 7</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 8</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-20:00</strong></div>
                                <div class="panel-body">
                                    FREE AFTERNOON
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-</strong></div>
                                <div class="panel-body">
                                    <h4>Banquet</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="thursday">
                            {# Thursday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 9</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 10</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 11</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 2</h3>
                                    <p>Coffee Break from 17:00 to 17:30 </p><br>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Differential Geometry</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Current Trends in Symplectic Geometry and Topology</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Mathematical Ecology and Epidemiology</h4>
                                                Room 3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Discrete Math</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Matrix Analysis and its Applications</h4>
                                                Room 5
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Instability of natural convection in cylindrical containers</h4>
                                                Room 5
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Groups and orbifolds in geometry and topology</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Singularities of Spaces and Mappings</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Poisson Geometry and Its Applications</h4>
                                                Room 3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="well">
                                                <h4>Inverse problems and PDE Control Theory</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="well">
                                                <h4>Stochastic Processes and Applications</h4>
                                                Room 5
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane" id="friday">
                            {# Friday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 12</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 13</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 14</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 2</h3>
                                    <p>Coffee Break from 17:00 to 17:30 </p><br>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Differential Geometry</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Current Trends in Symplectic Geometry and Topology</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Mathematical Ecology and Epidemiology</h4>
                                                Room 3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Discrete Math</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Matrix Analysis and its Applications</h4>
                                                Room 5
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Instability of natural convection in cylindrical containers</h4>
                                                Room 5
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Groups and orbifolds in geometry and topology</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Singularities of Spaces and Mappings</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Poisson Geometry and Its Applications</h4>
                                                Room 3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="well">
                                                <h4>Inverse problems and PDE Control Theory</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="well">
                                                <h4>Stochastic Processes and Applications</h4>
                                                Room 5
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="social"></div>
                <div role="tabpanel" class="tab-pane table-responsive" id="special">

                    <div class="special-session-a" ><strong><a href="{{ app.request.basepath }}/sessions/matroid-theory">Matroid Theory</a></strong><br>
                        <small>
                        Carolyn Chun, US Naval Academy, 121 Blake Rd, Annapolis, MD 21402, United States. E-mail: chchchun<i class="fa fa-at" aria-hidden="true"></i>gmail.com.<br>
                        Criel Merino, UNAM, León 2, altos, centro 68000, Oaxaca, Oax., México. Email: merino<i class="fa fa-at" aria-hidden="true"></i>matem.unam.mx, main contact organizer.<br>
                        Peter Nelson, Department of Combinatorics and Optimization, University of Waterloo, Waterloo, ON N2L3G1, Canada. E-mail: apnelson<i class="fa fa-at" aria-hidden="true"></i>uwaterloo.ca
                        </small>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Bergman Spaces and Toeplitz operators</strong><br>
                        <small>Salvador Perez Esteva (IM-Cuer) Kehe Zhu (St. Univ New York Albay)</small> <br>
                        <small>spesteva<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>
                    <div class="special-session-a" ><strong>Dynamical Systems and Geometry</strong><br>
                        <small>Carlos Cabrera-Aubin Arroyo (IM-Cuer), Tomoki Kawahira (Tokyo I. Of Technology), Federico Rodriuez (Penn State), Andres Navas (U. De santiago)</small> <br>
                        <small>aubinarroyo<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Differential Geometry</strong><br>
                        <small>Kazuo Akutagawa Tokyo I. of Tech.), Akito Futaki (U. of Tokyo), Jimy Petean (CIMAT)</small> <br>
                        <small>jimmy<i class="fa fa-at" aria-hidden="true"></i>cimat.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a" ><strong>Current Trends in Symplectic Geometry and Topology</strong><br>
                        <small>Cheol-Hyun Cho (Seoul National. Univ.), Eduardo Gonzalez (UMASS, Boston), Haoru Ono (RImS, Kyoto), Andres Pedroza (Colima), Yasha Savelyev (Colima)</small> <br>
                        <small>andres_pedroza<i class="fa fa-at" aria-hidden="true"></i>ucol.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Symmetric Structures in Discrete Geometry</strong><br>
                        <small>Asia Ivic Weiss ( York Univ.), Daniel Pellicer (CCM), Egon Schulte (NE University, Boston)</small> <br>
                        <small>pellicer<i class="fa fa-at" aria-hidden="true"></i>matmor.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Algebraic and Enumerative Combinatorics</strong><br>
                        <small>Ernesto Vallejo (CCM) Marcelo Aguiar (Cornell) Nantel Bergeron (York, Canada)</small> <br>
                        <small>ernevallejo<i class="fa fa-at" aria-hidden="true"></i>gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Discrete Math</strong><br>
                        <small>Natalia García Colín  (Infotec), Luis Goddyn (Simon Fraser Univ.),  Amanda Montejano (UNAM)</small> <br>
                        <small>garciacolin.natalia<i class="fa fa-at" aria-hidden="true"></i>googlemail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Mathematical Ecology and Epidemiology</strong><br>
                        <small>Jorge Velasco (IM-Juriquilla) Michael Li (U. Alberta) Hisahi Inaba (U. Tokyo) Ying-Hen (China Med. University)</small> <br>
                        <small>jx.velasco<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Advances in Geometric Methods in Mechanics with Applications</strong><br>
                        <small>Antonio Hernández Garduño (UAM - Iztapalapa), Vakhtang Putkaradza (Alberta), Dmitry Zenkov (NCSU)</small> <br>
                        <small>putkarad<i class="fa fa-at" aria-hidden="true"></i>ualberta.ca</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Nonlinear Elliptic PDE and Systems</strong><br>
                        <small>Nils Ackerman (IM) Du Yihong (Australia) Musso Monica (Chile) Tanaka Kazunaga (Japan)</small> <br>
                        <small>nils<i class="fa fa-at" aria-hidden="true"></i>ackermath.info</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Matrix Analysis and its Applications</strong><br>
                        <small>Qing-Wen Wamng (Shangai Univ.), Fuhzen  Zhang (Miami), Yang Zhang (Mantoba)</small> <br>
                        <small>zhang<i class="fa fa-at" aria-hidden="true"></i>nova.edu</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Instability of natural convection in cylindrical containers</strong><br>
                        <small>Eduardo Ramos (IER, UNAM)</small> <br>
                        <small>erm<i class="fa fa-at" aria-hidden="true"></i>ier.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Algebraic Geometry</strong><br>
                        <small>Pedro Luis del Angel (CIMAT), Keinichiro Kimura (Tsukuba)</small> <br>
                        <small>luis<i class="fa fa-at" aria-hidden="true"></i>cimat.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Groups and orbifolds in geometry and topology</strong><br>
                        <small>Ernesto Lupercio (CINVESTAV) Alejandro Adem (UBC) Jianzhang Pan (Academia Sinica, China)</small> <br>
                        <small>lupercio<i class="fa fa-at" aria-hidden="true"></i>math.cinvestav.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Special Functions, Orthogonal Polynomials and Applications</strong><br>
                        <small>Manuel Dominguez (IM, UNAM), Luis E. Garza Gaona (Colima)</small> <br>
                        <small>mdi29<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Singularities of Spaces and Mappings</strong><br>
                        <small>Jawad Snousi-Jose Seade (IM-Cuer) David Massey (USA) Masaharu Ishikawa (Japan) Nguyen Viet Dung (Vietnam)</small> <br>
                        <small>jsnoussi<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Poisson Geometry and Its Applications</strong><br>
                        <small>Misael Avendaño (UNISON), Matias del Hoyo (IMPA), Rui Loja Fernandes (U. Illinois-Urbana), Yuri Vorobiev (U. de Sonora)</small> <br>
                        <small>misaelave<i class="fa fa-at" aria-hidden="true"></i>mat.uson.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Geometry and Topology</strong><br>
                        <small>Daniel Juan (CCM), Chris Connell (Indiana), Fuquan Fang (Capital Normal Univ. China)</small> <br>
                        <small>daniel<i class="fa fa-at" aria-hidden="true"></i>matmor.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Inverse problems and PDE Control Theory</strong><br>
                        <small> Luz de Teresa (IM-UNAM), Héctor Morales Bárcenas (UAM-Mexico),  Abdon Choque (IFM)</small> <br>
                        <small>abdon.ifm<i class="fa fa-at" aria-hidden="true"></i>gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Commutative Algebra: Homological and Combinatorial Methods</strong><br>
                        <small>Louiza Fouli (New Mexico State Univ.), Luis Nuñez Betancourt (CIMA), Rafael Heraclio Villareal (Cinvestav), Yuji Yoshino (Okayama Univ.)</small> <br>
                        <small>rhvillarreal<i class="fa fa-at" aria-hidden="true"></i>gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Stochastic Processes and Applications</strong><br>
                        <small>Victor Rivero (CIMAT) Joaquin Fontbona (DIM Chile) Kouji Yano (Kyoto)</small> <br>
                        <small>jcpardo<i class="fa fa-at" aria-hidden="true"></i>cimat.mx</small><br>
                    </div>
                    </br>

                </div>
            </div>
        </div>
    </div>

{% endblock %}