{% extends 'base.html.twig' %}

{% block content %}

    <div class="container prima-title">
        <div><strong>PROGRAM</strong></div>
    </div>

    <div class="container prima-content">
        <p class="text-justify">The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca,
            Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences
            institutes, departments and societies from around the Pacific Rim, established in 2005 with the
            aim of promoting and facilitating the development of the mathematical sciences throughout the
            Pacific Rim region.
        </p>

        <div class="col-lg-offset-4">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">GENERAL PROGRAM</a></li>
                <li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
                <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">SPECIAL SESSIONS</a></li>
            </ul>
        </div>

        <div>
            <!-- Tab panes -->
            <div class="tab-content prima-program">
                <div role="tabpanel" class="tab-pane active table-responsive" id="general">
{#
                    <table class="table table-general table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="background-color: #EEF5F6; text-align: center">SUNDAY 13</th>
                            <th style="text-align: center">MONDAY 14</th>
                            <th style="background-color: #EEF5F6; text-align: center">TUESDAY 15</th>
                            <th style="text-align: center">WEDNESDAY 16</th>
                            <th style="background-color: #EEF5F6; text-align: center">THURSDAY 17</th>
                            <th style="text-align: center">FRIDAY 18</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2; text-align: left;">9:00-10:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">INAUGURAL CEREMONY</td>
                            <td style="background-color: #D6EAED">PL 3</td>
                            <td style="background-color: #E2F0F2">PL 6</td>
                            <td style="background-color: #D6EAED">PL 9</td>
                            <td style="background-color: #E2F0F2">PL 12</td>
                        </tr>
                        <tr> <th scope="row">10:00-11:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>BREAK 15 min<br>PL1 (10:15-11:15)</td>
                            <td style="background-color: #E2F0F2">PL 4</td>
                            <td>PL 7</td>
                            <td style="background-color: #E2F0F2">PL 10</td>
                            <td>PL 13</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2; text-align: left">11:00-12:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">PL2 (11:15-12:15)</td>
                            <td style="background-color: #D6EAED">PL 5</td>
                            <td style="background-color: #E2F0F2">PL 8</td>
                            <td style="background-color: #D6EAED">PL 11</td>
                            <td style="background-color: #E2F0F2">PL 14</td>
                        </tr>
                        <tr>
                            <th scope="row">12:00-15:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>LUNCH</td>
                            <td style="background-color: #E2F0F2">LUNCH</td>
                            <td>LUNCH</td>
                            <td style="background-color: #E2F0F2">LUNCH</td>
                            <td>LUNCH</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2">15:00-19:30</th>
                            <td style="background-color: #D6EAED">REGISTRATION AND <br>WELCOME<br> RECEPTION</td>
                            <td style="background-color: #E2F0F2">SPECIAL SESSIONS</td>
                            <td style="background-color: #D6EAED">SPECIAL SESSIONS</td>
                            <td style="background-color: #E2F0F2">FREE AFTERNOON</td>
                            <td style="background-color: #D6EAED">SPECIAL SESSIONS</td>
                            <td style="background-color: #E2F0F2">SPECIAL SESSIONS</td>
                        </tr>
                        <tr>
                            <th scope="row">19:30-20:00</th>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="row" style="background-color: #E2F0F2">20:00-21:00</th>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">PUBLIC LECTURE</td>
                            <td style="background-color: #D6EAED">PUBLIC LECTURE</td>
                            <td style="background-color: #E2F0F2">BANQUET</td>
                            <td style="background-color: #D6EAED">&nbsp;</td>
                            <td style="background-color: #E2F0F2">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="text-center p-table-general"> <strong>PL = PLENARY LECTURE</strong></p>
#}
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        {#<li role="presentation" class="active"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="pill">Sunday 13</a></li>#}
                        <li role="presentation" class="active"><a href="#monday" aria-controls="monday" role="tab" data-toggle="pill">Monday 14</a></li>
                        <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="pill">Tuesday 15</a></li>
                        <li role="presentation"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="pill">Wednesday 16</a></li>
                        <li role="presentation"><a href="#thursday" aria-controls="thursday" role="tab" data-toggle="pill">Thursday 17</a></li>
                        <li role="presentation"><a href="#friday" aria-controls="friday" role="tab" data-toggle="pill">Friday 18</a></li>
                    </ul>
                    <h1></h1>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {#<div role="tabpanel" class="tab-pane active" id="sunday">
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h4>REGISTRATION AND WELCOME RECEPTION</h4>
                                </div>
                            </div>
                        </div>#}
                        <div role="tabpanel" class="tab-pane active" id="monday">
                            {# Monday content
                            <div class="page-header"><h3>Monday, 14 August</h3></div>#}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>INAUGURAL CEREMONY</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-10:15</strong></div>
                                <div class="panel-body">
                                    <h4>BREAK</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:15-11:15</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 1</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:15-12:15</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL2</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:15-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-17:00</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 1</h3><br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Matroid Theory</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Bergman Spaces and Toeplitz operators</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Dynamical Systems and Geometry</h4>
                                                Room 3
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Algebraic and Enumerative Combinatorics</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Mathematical Ecology and Epidemiology</h4>
                                                Room 5
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Advances in Geometric Methods in Mechanics with Applications</h4>
                                                Room 6
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Nonlinear Elliptic PDE and Systems</h4>
                                                Room 3
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Algebraic Geometry</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:00-17:30</strong></div>
                                <div class="panel-body">
                                    <h4>Coffee Break</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:30-19:30</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Special Functions, Orthogonal Polynomials and Applications</h4>
                                                Room 9
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Geometry and Topology</h4>
                                                Room 10
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and  Combinatorial Methods</h4>
                                                Room 11
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>19:30-20:00</strong></div>
                                <div class="panel-body">
                                    <h4></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>Public Lecture</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tuesday">
                            {# Tuesday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 3</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 4</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 5</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-17:00</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 1</h3><br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Algebraic Geometry</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Special Functions, Orthogonal Polynomials and Applications</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Geometry and Topology</h4>
                                                Room 3
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and Combinatorial Methods</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:00-17:30</strong></div>
                                <div class="panel-body">
                                    <h4>Coffee Break</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:30-19:30</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and Combinatorial Methods</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>19:30-20:00</strong></div>
                                <div class="panel-body">
                                    <h4></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>Public Lecture</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="wednesday">
                            {# Wednesday content
                            <div class="page-header"><h3>Monday, 14 August</h3></div>#}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 6</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 7</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 8</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-20:00</strong></div>
                                <div class="panel-body">
                                    FREE AFTERNOON
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-</strong></div>
                                <div class="panel-body">
                                    <h4>Banquet</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="thursday">
                            {# Thursday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 9</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 10</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 11</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-17:00</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 2</h3><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Differential Geometry</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Current Trends in Symplectic Geometry and Topology</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Symmetric Structures in Discrete Geometry</h4>
                                                Room 3
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:00-17:30</strong></div>
                                <div class="panel-body">
                                    <h4>Coffee Break</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:30-19:30</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Discrete Math</h4>
                                                Room 4
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Matrix Analysis and its Applications</h4>
                                                Room 5
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Instability of natural convection in cylindrical containers</h4>
                                                Room 5
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="friday">
                            {# Friday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 12</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 13</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Plenary Lecture PL 14</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-17:00</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 2</h3><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Groups and orbifolds in geometry and topology</h4>
                                                Room 1
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Singularities of Spaces and Mappings</h4>
                                                Room 2
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Poisson Geometry and Its Applications</h4>
                                                Room 3
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:00-17:30</strong></div>
                                <div class="panel-body">
                                    <h4>Coffee Break</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>17:30-19:30</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well">
                                                <h4>Inverse problems and PDE Control Theory Stochastic Processes and Applications</h4>
                                                Room 4
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="social">*</div>
                <div role="tabpanel" class="tab-pane table-responsive" id="special">
                    <table class="table table-special table-hover">
                        <thead>
                        <tr style="background-color: #C5B1D4">
                            <th>Title</th>
                            <th>Organizer</th>
                            <th>Email</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Matroid Theory</strong></td>
                            <td>Criel Merino</td>
                            <td>merino<i class="fa-at fa"></i>matem.unam.mx</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Bergman Spaces and Toeplitz operators</strong></td>
                            <td>Salvador Pérez-Esteva</td>
                            <td>spesteva<i class="fa-at fa"></i>im.unam.mx</td>
                        </tr>
                        <tr>
                            <td><strong>Dynamical Systems and Geometry</strong></td>
                            <td>Aubin Arroyo</td>
                            <td>aubinarroyo<i class="fa-at fa"></i>im.unam.mx</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Differential Geometry</strong></td>
                            <td>Jimmy Petean</td>
                            <td>jimmy<i class="fa-at fa"></i>cimat.mx</td>
                        </tr>
                        <tr>
                            <td><strong>Current Trends in Symplectic Geometry and Topology</strong></td>
                            <td>Andrés Pedroza</td>
                            <td>andres_pedroza<i class="fa-at fa"></i>ucol.mx</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Symmetric Structures in Discrete Geometry</strong></td>
                            <td>Daniel Pellicer</td>
                            <td>pellicer<i class="fa-at fa"></i>matmor.unam.mx</td>
                        </tr>
                        <tr>
                            <td><strong>Algebraic and Enumerative Combinatorics</strong></td>
                            <td>Ernesto Vallejo</td>
                            <td>ernevallejo<i class="fa-at fa"></i>gmail.com</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Discrete Math</strong></td>
                            <td>Natalia García-Colín</td>
                            <td>garciacolin.natalia<i class="fa-at fa"></i>googlemail.com</td>
                        </tr>
                        <tr>
                            <td><strong>Mathematical Ecology and Epidemiology</strong></td>
                            <td>Jorge Velasco-Hernández</td>
                            <td>jx.velasco<i class="fa-at fa"></i>im.unam.mx</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Advances in Geometric Methods in Mechanics with Applications</strong></td>
                            <td>Vakhtang Putkaradze</td>
                            <td>putkarad<i class="fa-at fa"></i>ualberta.ca</td>
                        </tr>
                        <tr>
                            <td><strong>Nonlinear Elliptic PDE and Systems</strong></td>
                            <td>Nils Ackerman</td>
                            <td>nils<i class="fa-at fa"></i>ackermath.info</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Matrix Analysis and its Applications</strong></td>
                            <td>FuzhenZhang</td>
                            <td>zhang<i class="fa-at fa"></i>nova.edu</td>
                        </tr>
                        <tr>
                            <td><strong>Instability of natural convection in cylindrical containers</strong></td>
                            <td>Eduardo Ramos</td>
                            <td>erm<i class="fa-at fa"></i>ier.unam.mx</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Algebraic Geometry</strong></td>
                            <td>Pedro Luis Del Ángel Rodríguez</td>
                            <td>luis<i class="fa-at fa"></i>cimat.mx</td>
                        </tr>
                        <tr>
                            <td><strong>Groups and orbifolds in geometry and topology</strong></td>
                            <td>Ernesto Lupercio</td>
                            <td>lupercio<i class="fa-at fa"></i>math.cinvestav.mx</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Special Functions, Orthogonal Polynomials and Applications</strong></td>
                            <td>Manuel Domínguez de la Iglesia</td>
                            <td>mdi29<i class="fa-at fa"></i>im.unam.mx</td>
                        </tr>
                        <tr>
                            <td><strong>Singularities of Spaces and Mappings</strong></td>
                            <td>JawadSnoussi</td>
                            <td>jsnoussi<i class="fa-at fa"></i>im.unam.mx</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Poisson Geometry and Its Applications</strong></td>
                            <td>Misael Avendaño Camacho</td>
                            <td>misaelave<i class="fa-at fa"></i>mat.uson.mx</td>
                        </tr>
                        <tr>
                            <td><strong>Geometry and Topology</strong></td>
                            <td>Daniel Juan Pineda</td>
                            <td>daniel<i class="fa-at fa"></i>matmor.unam.mx</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Inverse problems and PDE Control Theory</strong></td>
                            <td>Abdon Choque Rivero</td>
                            <td>abdon.ifm<i class="fa-at fa"></i>gmail.com</td>
                        </tr>
                        <tr>
                            <td><strong>Commutative Algebra: Homological and Combinatorial Methods</strong></td>
                            <td>Rafael Heraclio Villarreal</td>
                            <td>rhvillarreal<i class="fa-at fa"></i>gmail.com</td>
                        </tr>
                        <tr style="background-color: #E1D6E8">
                            <td><strong>Stochastic Processes and Applications</strong></td>
                            <td>Juan Carlos Pardo</td>
                            <td>jcpardo<i class="fa-at fa"></i>cimat.mx</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}