{% extends 'base.html.twig' %}

{% block content %}

    <div class="container prima-title">
        <div><strong>PROGRAM</strong></div>
    </div>

    <div class="container prima-content">
        <p class="text-justify">The Third Pacific Rim Mathematical Association (PRIMA) Congress will take place in Oaxaca,
            Mexico from August 14th till August 18th of 2017. PRIMA is an association of mathematical sciences
            institutes, departments and societies from around the Pacific Rim, established in 2005 with the
            aim of promoting and facilitating the development of the mathematical sciences throughout the
            Pacific Rim region.
        </p>

        <div class="col-lg-offset-4">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">GENERAL PROGRAM</a></li>
                <li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
                <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">SPECIAL SESSION</a></li>
            </ul>
</div>
<div>
            <!-- Tab panes -->
            <div class="tab-content prima-program">
                <div role="tabpanel" class="tab-pane active" id="general">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>SUNDAY 13</th>
                                <th>MONDAY 14</th>
                                <th>TUESDAY 15</th>
                                <th>WEDNESDAY 16</th>
                                <th>THURSDAY 17</th>
                                <th>FRIDAY 18</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">9:00 - 10:00</th>
                                <td>&nbsp;</td>
                                <td>INAUGURAL CEREMONY</td>
                                <td>PL 3</td>
                                <td>PL 6</td>
                                <td>PL 9</td>
                                <td>PL 12</td>
                            </tr>
                            <tr> <th scope="row">10:00 - 11:00</th>
                                <td>&nbsp;</td>
                                <td>BREAK 15 min<br>PL1 (10:15-11:15)</td>
                                <td>PL 4</td>
                                <td>PL 7</td>
                                <td>PL 10</td>
                                <td>PL 13</td>
                            </tr>
                            <tr>
                                <th scope="row">11:00 - 12:00</th>
                                <td>&nbsp;</td>
                                <td>PL2 (11:15-12:15)</td>
                                <td>PL 5</td>
                                <td>PL 8</td>
                                <td>PL 11</td>
                                <td>PL 14</td>
                            </tr>
                            <tr>
                                <th scope="row">12:00 - 15:00</th>
                                <td>&nbsp;</td>
                                <td>LUNCH</td>
                                <td>LUNCH</td>
                                <td>LUNCH</td>
                                <td>LUNCH</td>
                                <td>LUNCH</td>
                            </tr>
                            <tr>
                                <th scope="row">15:00 - 19:30</th>
                                <td>REGISTRATION AND <br>WELCOME<br> RECEPTION</td>
                                <td>SPECIAL SESSIONS</td>
                                <td>SPECIAL SESSIONS</td>
                                <td>FREE AFTERNOON</td>
                                <td>SPECIAL SESSIONS</td>
                                <td>SPECIAL SESSIONS</td>
                            </tr>
                            <tr>
                                <th scope="row">19:30 - 20:00</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>

                            </tr>
                            <tr>
                                <th scope="row">20:00 - 21:00</th>
                                <td>&nbsp;</td>
                                <td>PUBLIC LECTURE</td>
                                <td>PUBLIC LECTURE</td>
                                <td>BANQUET</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>

                            </tr>
                            </tbody>
                        </table>
PL = PLENARY LECTURE
                </div>
                <div role="tabpanel" class="tab-pane" id="social">...</div>
                <div role="tabpanel" class="tab-pane" id="special">...</div>

            </div>

        </div>
    </div>

{% endblock %}


