{% extends 'base.html.twig' %}

{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="page-header prima-title">PLENARY SPEAKERS</div>

        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/AnaAmador.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://users.df.uba.ar/anita/amador/Ana_Amador/Welcome.html">Ana Amador</a></h4>
                        <p>Universidad de Buenos Aires, Argentina</p>
                        <p><small><em>Applied dynamical systems/bird songs</em></small></p>
                         <p>
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/AlexeyBondal.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://db.ipmu.jp/member/personal/170en.html">Alexey Bondal</a></h4>
                        <p>Kavli IPMU (Tokyo) & Steklov Institute</p>
                        <p><small><em>Geometry & physics</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/ChenyangXu.jpeg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://www.bicmr.org/~chenyangxu">Chenyang Xu </a></h4>
                        <p>Peking University</p>
                        <p><small><em>Algebraic geometry</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/DavidBrydges.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://www.math.ubc.ca/~db5d/">David Brydges</a></h4>
                        <p>Professor emeritus <br>University of British Columbia</p>
                        <p><small><em>Probability and mathematical physics</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/Duke.png" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://www.math.ucla.edu/~wdduke/">William Duke</a></h4>
                        <p>UCLA</p>
                        <p><small><em>Number theory</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/FernandoCodaMarques.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="https://www.math.princeton.edu/directory/fernando-cod%C3%A1-marques">Fernando Coda Marques</a></h4>
                        <p>Princeton</p>
                        <p><small><em>Geometric analysis</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/GeoffWhittle.gif" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://www.victoria.ac.nz/sms/about/staff/geoff-whittle">Geoff Whittle</a></h4>
                        <p>Victoria University, New Zealand</p>
                        <p><small><em>Matroid theory</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/HeeOh.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://gauss.math.yale.edu/~ho2/">Hee Oh</a></h4>
                        <p>Yale</p>
                        <p><small><em>Dynamical systems</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/HirakuNakajima.jpg" class="img-responsive img-thumbnail"><br>
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://www.kurims.kyoto-u.ac.jp/~nakajima/nakajima.html">Hiraku Nakajima</a></h4>
                        <p>RIMS Kyoto Japan</p>
                        <p><small><em>Repr theory/math phys</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/IanAgol.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="https://math.berkeley.edu/~ianagol/">Ian Agol</a></h4>
                        <p>Berkeley</p>
                        <p><small><em>Topology</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/LexingYing.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://web.stanford.edu/~lexing/">Lexing Ying</a></h4>
                        <p>Stanford</p>
                        <p><small><em>Scientific computing</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/ManuelDelPino.jpeg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="http://www.uchile.cl/portal/presentacion/historia/grandes-figuras/premios-nacionales/ciencias-/94667/manuel-del-pino-manresa">Manuel del Pino</a></h4>
                        <p>Universidad de Chile</p>
                        <p><small><em>PDE</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/Maryam-Mirzajani.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading"><a href="">Maryam Mirzakhani </a></h4>
                        <p>Stanford</p>
                        <p><small><em>Teichmuller theory, hyperbolic geometry</em></small></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header"></div>
    </div>

{% endblock %}