{% extends 'base.html.twig' %}

{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="page-header prima-title">PLENARY SPEAKERS</div>

        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/AnaAmador.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Ana Amador</h4>
                        <p>Universidad de Buenos Aires, Argentina</p>
                        <p><small><em>Applied dynamical systems/bird songs</em></small></p>
                         <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/AlexeyBondal.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Alexey Bondal</h4>
                        <p>Kavli IPMU (Tokyo) & Steklov Institute</p>
                        <p><small><em>Geometry & physics</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.

                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/ChenyangXu.jpeg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Chenyang Xu <small>Peking University</small></h4>
                        <p><small><em>Algebraic geometry</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/DavidBrydges.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">David Brydges <small>UCLA</small></h4>
                        <p><small><em>Number theory</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/Duke.png" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Duke <small>UCLA</small></h4>
                        <p><small><em>Number theory</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/FernandoCodaMarques.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Fernando Coda Marques <small>Princeton</small></h4>
                        <p><small><em>Geometric analysis</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/GeoffWhittle.gif" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Geoff Whittle <small>Victoria University, New Zealand</small></h4>
                        <p><small><em>Matroid theory</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/HeeOh.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Hee Oh <small>Yale</small></h4>
                        <p><small><em>Dynamical systems</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/HirakuNakajima.jpg" class="img-responsive img-thumbnail"><br>
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Hiraku Nakajima <small>RIMS Kyoto Japan</small></h4>
                        <p><small><em>Repr theory/math phys</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/IanAgol.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Ian Agol <small>Berkeley</small></h4>
                        <p><small><em>Topology</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/KerryLandman.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Kerry Landman <small>University of Melbourne, Australia</small></h4>
                        <p><small><em>Models for appl. biology & tissue eng</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/LexingYing.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Lexing Ying <small>Stanford</small></h4>
                        <p><small><em>Scientific computing</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/ManuelDelPino.jpeg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Manuel del Pino <small>U. de Chile</small></h4>
                        <p><small><em>PDE</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="img/speakers/Maryam-Mirzajani.jpg" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                    <div class="media-body plenary">
                        <h4 class="media-heading">Maryam Mirzajani <small>Stanford</small></h4>
                        <p><small><em>Teichmuller theory, hyperbolic geometry</em></small></p>
                        <p>
                            Lorem ipsum dolor sit amet, nam vivendo vituperatoribus ex, ne qui urbanitas gloriatur. Ex duis assum virtute per, has ut velit ubique vituperatoribus. Equidem ancillae contentiones vim id, ea duo quas tractatos. Alii enim suavitate ad pro.
                            <br><br>
                            Vim tation scaevola instructior ea, pro et unum aperiam. Saepe incorrupte et vel, ne nec iuvaret appareat. Ut nihil aeterno eos. Corpora disputationi at mea, at facer delenit appellantur mea, malorum noluisse phaedrum te quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header"></div>
    </div>

{% endblock %}