@import url(https://fonts.google.com/specimen/Montserrat);

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 100px;
    margin-bottom: 200px;
    font-family: "Montserrat", sans-serif;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  /* background: #323b44 none repeat scroll 0 0; */
  background: #3AB34A none repeat scroll 0 0;
  /*border-top: 1px solid #414f5a;*/
  color: #ffffff;
  padding: 20px 0 ;
}

.footer a, .footer a:hover  {
    color: #fff;
}

.copyright-footer {
    padding-top: 15px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#logosfooter{
    display: inline-block;
}

.sponsor {
    vertical-align: middle;
    height: 100px;
    display: block;
    margin: auto;
}

.logo {
    vertical-align: middle;
    height: 60px;
    display: inline-block;
    padding: 5px;
    margin: auto;
}

.prima-banner {
    background: url("../img/FirstPage_alebrije.png") no-repeat left center;
    background-size: contain;
    background-color: #6DB7C2;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    height: 280px;
    font-size: 18px;
    margin-top: 20px;
}

.prima-header {
    background: url("../img/armadillo.png") no-repeat center center;
	height: 250px;
	background-size: contain;
    background-color: #6DB7C2;
    color: #cdbfe3;
    padding: 30px 0;
    margin-top: 120px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.prima-header-content {
    color: #ffffff;
    width: 500px;
    margin-left: 850px;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #6db7ca;
    font-size: 18px;
    padding-top: 32px;
}



.cd-primary-nav {
    background: rgba(42, 108, 118, 0.88) none repeat scroll 0 0;

}

.cd-primary-nav .cd-label {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin: 2.4em 0 0.8em;
    text-transform: uppercase;
}

.prima-title {
    text-align: center;
    font-size: 25px;
    color: #6CB7C3;
    padding-top: 30px;
}

.prima-content {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 17px;
    color: #888888;
}
@media only screen and (min-width: 768px) {

    .prima-content {
        padding-top: 25px;
        padding-bottom: 100px;
    }
}


.prima-program {
    padding-top: 25px;
    padding-bottom: 100px;
    font-size: 17px;
    color: #888888;
}

/* tab color */
.nav-tabs>li>a {
    background-color: #C6C1C1;
    border-color: #C6C1C1;
    color:#fff;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #6CB7C3;
    border: 1px solid #6CB7C3;
}

/* hover tab color */
.nav-tabs>li>a:hover {
    border-color: #6CB7C3;
    background-color: #6CB7C3;
}

.nav-tabs {
    border-bottom: 1px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;

}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.page-header {
    border-bottom: 0px;
    margin: 80px 0 20px;
    padding-bottom: 9px;
    color: #6db7c2;
}

.table-general > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 15px;
    border-top: none !important;
    border-bottom: none !important;
    font-size: 15px;
    color: #2C2C2C;
    text-align: center;
}

.p-table-general {
    padding-top: 15px;
    color: #73BAC5;
}

.table-special > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    border-top: none !important;
    border-bottom: none !important;
    font-size: 15px;
    color: #2C2C2C;
    text-align: left;
}

.oaxaca-banner {
    background:  url("../img/oaxaca-img.png") no-repeat center center;
    background-size: cover;
    color: #ffffff;
    height: 430px;
    margin-top: 20px;
    padding-bottom: 200px;
}

.oaxaca-content {
    padding-top: 50px;
}

.oaxaca-p {
    color: #909090;
    padding-bottom: 15px;
}

a, a:focus, a:hover, a:visited, a:active {
    color: #6db7ca;
}

h4{
    color:#5E5E5E;
}

