.intro-header {
    color: #ffffff;
    height: 50%;
    padding-top: 130px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.intro-btn {
    height: 50%;
    padding-top: 50px;
    text-align: center;
}

.cd-primary-nav li {
    font-size: 1.875rem;
    font-weight: 500;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #fff;
    color: #ffffff;
    font-size: 40px;
}

.btn-primary-outline:hover, .btn-primary-outline:focus {
    color: #E36767;
    border-color: #E36767;
}

a:focus, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}

.logo {
    vertical-align: middle;
    height: 80px;
    display: inline-block;
    padding: 10px;
    margin: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.cd-primary-nav-trigger {
    background-color: transparent;
    bottom: auto;
    height: 30px;
    line-height: 30px;
    padding-left: 1em;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}
