{% extends 'base.html.twig' %}

{% block content %}

    <div class="prima-title"><strong>Special Session</strong></div>
    <div class="container">
        <p><h3 class="session-title">Matroid Theory</h3></p>
        <div class="organizers">
            Organizers:<br>
            Carolyn Chun, US Naval Academy, 121 Blake Rd, Annapolis, MD 21402, United States. E-mail: chchchun<i class="fa fa-at" aria-hidden="true"></i>gmail.com.<br>
            Criel Merino, UNAM, León 2, altos, centro 68000, Oaxaca, Oax., México. Email: merino<i class="fa fa-at" aria-hidden="true"></i>matem.unam.mx, main contact organizer.<br>
            Peter Nelson, Department of Combinatorics and Optimization, University of Waterloo, Waterloo, ON N2L3G1, Canada. E-mail: apnelson<i class="fa fa-at" aria-hidden="true"></i>uwaterloo.ca
        </div>
        <br>
        <h4>Abstract</h4>
        <p>
            Matroid theory is a young field in Combinatorics with deep ties to other fields such as graph
            theory, linear algebra, topology, and coding theory. Despite its youth, matroid theory has
            been established as a classic and elegant theory. We introduce the subject and its most
            compelling question through three citations by three important authors in the subject.
            James Oxley in [1] delineates their founding. "Matroids were introduced by Whitney in 1935
            to provide a unifying abstract treatment of dependence in linear algebra and graph theory.
            Since then, it has been recognized that matroids arise naturally in combinatorial optimization
            and can be used as a framework for approaching a diverse variety of combinatorial
            problems."<br><br>
            Jack Edmonds organized the first matroid conference at the National Bureau of Standards in
            1964, from August 31 to September 11. In Edmond’s own account of the event in [2], he says,
            “We [Edmonds, Lehman, and Witzgall] didn’t find more than six who had even heard of the
            term ‘matroid.’ About twenty serious people came to it, including Ray Fulkerson, George
            Minty, Henry Crapo, Dan Younger, Neil Robertson, and Bill Tutte. Within a year it seemed the
            whole world was discovering matroids.” Gian- Carlo Rota, famous for his eponymous
            conjecture, also attended the conference. Rota’s Conjecture has stimulated a great deal of
            important work that has developed matroid theory.<br><br>
            In [3], Geoff Whittle reflects about the conjecture. “In 1970, Gian-Carlo Rota posed a
            beautiful conjecture that provides a combinatorial characterization of linear dependence in
            vector spaces over any given finite field. Recently Jim Geelen, Bert Gerards and I completed
            a 15-year project that culminated in a proof of Rota’s conjecture.”
            As Geoff Whittle will be at the PRIMA 2017 conference, we think it is important to have a
            special session in his main area of research, and one that is very important to New Zealand,
            Australia, the USA, and Canada.<br><br>
            [1] J. Oxley, What is a matroid? Preprint at <a href="https://www.math.lsu.edu/~oxley/survey4.pdf">https://www.math.lsu.edu/~oxley/survey4.pdf</a><br>
            [2] J. Edmonds, Matroid partition, in: M. Juenger et al. (eds.) Fifty Years of Integer Programming Springer Verlag, Heidelberg, 2010, 199–217.<br>
            [3] G. Whittle, Rota’s conjecture, Newsletter of the New Zealand Mathematical Society, No. 119 (December 2013), pp. 8–9
        </p>
        <h1></h1>
        <p>
            <h4>Speakers</h4><br>
            <strong>USA</strong><br>
            Federico Ardila, Joseph Bonin, Joanna Ellis-Monaghan, Joseph Kung, Jenny McNulty, James Oxley, Stefan van Zwam.<br><br>
            <strong>New Zealand</strong><br>
            Rong Chen, Dillon Mayhew, Geoff Whittle.<br><br>
            <strong>Canada</strong><br>
            Jim Geelen, Peter Nelson.<br><br>
            <strong>Australia</strong><br>
            Irene Pivotto, Gordon Royle.<br><br>
            <strong>Mexico</strong>
            Gilberto Calvillo, Laura Chavez-Lomelí.
        </p>
        <br>
        <h4>Program</h4>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <th class="text-center program-session-2"></th>
                        <th class="program-session-1">First Slot</th>
                        <th class="program-session-1">Second Slot</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-1">00:00-00:30</th>
                        <th>James Oxley</th>
                        <th>Gordon Royle</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-2">00:30-01:00</th>
                        <th class="program-session-1">Jim Geelen</th>
                        <th class="program-session-1">Dillon Mayhew</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-1">01:00-01:30</th>
                        <th>Peter Nelson</th>
                        <th>Irene Pivotto</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-2">01:30-02:00</th>
                        <th class="program-session-1">Laura Chavez-Lomelí</th>
                        <th class="program-session-1">Rong Chen</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-1">02:00-02:30</th>
                        <th>Jenny McNulty</th>
                        <th>Joanna Ellis-Monaghan</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-2">02:30-03:00</th>
                        <th class="program-session-1">Federico Ardila</th>
                        <th class="program-session-1">Stefan van Zwam</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-1">03:00-03:30</th>
                        <th>Joseph Bonin</th>
                        <th>Gilberto Calvillo</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-2">03:30-04:00</th>
                        <th class="program-session-1">Joseph Kung</th>
                        <th class="program-session-1">Geoff Whittle</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="page-header"></div>
    </div>

{% endblock %}