{% extends 'base.html.twig' %}

{% block content %}

    <div class="prima-title"><strong>Special Session</strong></div>
    <div class="container">
        <p><h3 class="session-title">Nonlinear Elliptic PDE and Systems</h3></p>
        <div class="organizers">
            Organizers:<br>
            Nils Ackerman (IM) Jaeyoung Byeon (South Korea) Yihong Du (Australia) Monica Musso (Chile)
        </div>
        <br>
        <h4>Abstract</h4>
        <p>
            The aim of this session is to bring together researchers that work
            on nonlinear elliptic and parabolic partial differential equations
            and systems, with a focus on variational, topological, bifurcation
            theoretic, and dynamical systems methods (with respect to gradient
            and parabolic flows).  We are interested in results on (multiple)
            existence questions for elliptic problems, on the existence of
            global dynamics and blowup in parabolic problems.

            <br><br>

            Another focus is on qualitative properties of solutions, e.g.,
            regularity, asymptotic behavior, and patterns.  For example, in
            problems with a singular perturbation or with a certain type of
            scaling invariance (critical problems) there has been much activity
            concerning the existence of rich families of stationary states that are
            constructed as clusters or as higher dimensional analogues of basic
            elements.  These techniques have recently been extended to systems
            of PDEs.

            <br><br>

            Since the 1970's these questions have been in bloom for elliptic
            equations, inspired in particular by the work of Crandall and
            Rabinowitz on local and global bifurcations, and by the formulation
            of abstract topological principles ("Mountain Pass Lemma") in the
            calculus of variations that yield non-extremal variational
            solutions, by Ambrosetti and Rabinowitz.  The basic techniques have
            been developed, together with advanced topological and analytical
            tools, to yield results for large classes of nonlinear elliptic
            equations and systems.

            <br><br>

            In the last fifteen years these techniques have been refined to
            apply to ever more general problems, covering a range of models
            that originate in biology, physics, chemistry, and differential
            geometry.  Among the sources for these models are, for example,
            population dynamics, nonlinear optics, quantum systems, phase
            transitions, material science, chemical reactors, and the
            construction of Riemannian metrics.  To accommodate this variety of
            applications, a number of new concepts and terms have been
            introduced.  To name a few: nonlocal operators (e.g., fractional
            derivatives or general integral operators), nonlocal interaction
            terms, quasilinear or fully nonlinear operators, singular
            perturbations, and combinations thereof.

            <br><br>

            On the other hand, the development in nonlinear parabolic problems
            has been largely separate, but in parallel.  The main thrust lay on
            the basic existence and regularity theory for local and global
            solutions, and on the qualitative behavior of blow-up solutions.
            Only recently has there been a larger interaction between these
            research communities, leading to a fruitful interchange of ideas.
            For example, the results on symmetry of solutions to elliptic PDE
            are now being extended to cover more general solutions to parabolic
            problems (instead of only applying to stationary states, which are
            the solutions of elliptic problems).  In the other direction, the
            theory of dynamical systems has been used to give new existence
            results for elliptic problems, using the parabolic flow of the
            related parabolic problem.
            <br><br>

            We will also include areas that are closely connected, be it as
            tools or as the objects of study.  Among these are integral and
            differential inequalities and Liouville type theorems.

            <br><br>
        </p>
        <h1></h1>
        <p>
       {# <h4>Speakers</h4><br>
        <strong>USA</strong><br>
        Federico Ardila, Joseph Bonin, Joanna Ellis-Monaghan, Joseph Kung, Jenny McNulty, James Oxley, Stefan van Zwam.<br><br>
        <strong>New Zealand</strong><br>
        Rong Chen, Dillon Mayhew, Geoff Whittle.<br><br>
        <strong>Canada</strong><br>
        Jim Geelen, Peter Nelson.<br><br>
        <strong>Australia</strong><br>
        Irene Pivotto, Gordon Royle.<br><br>
        <strong>Mexico</strong>
        Gilberto Calvillo, Laura Chavez-Lomelí.
        </p>
        <br>
        <h4>Program</h4>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <th class="text-center program-session-2"></th>
                        <th class="program-session-1">First Slot</th>
                        <th class="program-session-1">Second Slot</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-1">00:00-00:30</th>
                        <th>James Oxley</th>
                        <th>Gordon Royle</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-2">00:30-01:00</th>
                        <th class="program-session-1">Jim Geelen</th>
                        <th class="program-session-1">Dillon Mayhew</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-1">01:00-01:30</th>
                        <th>Peter Nelson</th>
                        <th>Irene Pivotto</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-2">01:30-02:00</th>
                        <th class="program-session-1">Laura Chavez-Lomelí</th>
                        <th class="program-session-1">Rong Chen</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-1">02:00-02:30</th>
                        <th>Jenny McNulty</th>
                        <th>Joanna Ellis-Monaghan</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-2">02:30-03:00</th>
                        <th class="program-session-1">Federico Ardila</th>
                        <th class="program-session-1">Stefan van Zwam</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-1">03:00-03:30</th>
                        <th>Joseph Bonin</th>
                        <th>Gilberto Calvillo</th>
                    </tr>
                    <tr>
                        <th class="text-center program-session-2">03:30-04:00</th>
                        <th class="program-session-1">Joseph Kung</th>
                        <th class="program-session-1">Geoff Whittle</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="page-header"></div>#}
    </div>

{% endblock %}